<div class="choose7-work7-sec sp">

    <!--=== CHOOSE AREA START === -->

    <div class="choose7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose7-image _relative overflow-hidden reveal" appGsapReveal>
                        <img src="assets/img/others/choose7-image.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white-heading md:mt-30 sm:mt-30">
                        <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> WHY CHOOSE US</span>
                        <h2 class="text-anime-style-3">Why Our Clients Trust Us</h2>
                    </div>
                    <div class="space20"></div>
                    <div class="" data-aos-duration="800" data-aos="fade-left">
                        <div class="choose7-box mt-30">
                            <div class="heading7-w">
                                <h4><a href="javascript:void(0);">Data-Driven Approach</a></h4>
                                <p class="mt-10">Actionable insights for better performance</p>
                            </div>
                        </div>
                    </div>

                    <div class="" data-aos-duration="1000" data-aos="fade-left">
                        <div class="choose7-box mt-30">
                            <div class="heading7-w">
                                <h4><a href="javascript:void(0);">Data-Driven Approach</a></h4>
                                <p class="mt-10">Actionable insights for better performance</p>
                            </div>
                        </div>
                    </div>

                    <div class="" data-aos-duration="1200" data-aos="fade-left">
                        <div class="choose7-box mt-30">
                            <div class="heading7-w">
                                <h4><a href="javascript:void(0);">Data-Driven Approach</a></h4>
                                <p class="mt-10">Actionable insights for better performance</p>
                            </div>
                        </div>
                    </div>
                    <div class="button mt-30" data-aos-duration="1300" data-aos="fade-left">
                        <a routerLink="/contact" class="theme-btn13">
                            Contact Us
                            <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--=== CHOOSE AREA END === -->

    <!--=== WORK AREA START === -->

    <div class="work7 pt-120 md:pt-50 sm:pt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto text-center">
                    <div class="white-heading">
                        <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> HOW WE WORK</span>
                        <h2 class="text-anime-style-3">Our Proven Process for Affiliate Success</h2>
                    </div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="work7-box mt-30" >
                        <div class="icon">
                            <img src="assets/img/icons/work7-icon1.svg" alt="">
                        </div>
                        <div class="heading7-w mt-20">
                            <h4><a routerLink="/service-details1">Understanding Your Goals</a></h4>
                            <p class="mt-16">We start by listening to you.  understanding your brand, business objectives, &  target audience.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="work7-box mt-60">
                        <div class="icon">
                            <img src="assets/img/icons/work7-icon2.svg" alt="">
                        </div>
                        <div class="heading7-w mt-20">
                            <h4><a routerLink="/service-details1">Strategy Development</a></h4>
                            <p class="mt-16">Our team crafts a detailed plan, selecting the right affiliates, platforms, and tools to maximize impact.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="work7-box mt-30">
                        <div class="icon">
                            <img src="assets/img/icons/work7-icon3.svg" alt="">
                        </div>
                        <div class="heading7-w mt-20">
                            <h4><a routerLink="/service-details1">Data-Driven Optimization</a></h4>
                            <p class="mt-16">We continuously monitor performance, analyze key metrics, & refine strategies to enhance your ROI.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                    <div class="work7-box mt-60">
                        <div class="icon">
                            <img src="assets/img/icons/work7-icon4.svg" alt="">
                        </div>
                        <div class="heading7-w mt-20">
                            <h4><a routerLink="/service-details1">Transparent Reporting</a></h4>
                            <p class="mt-16">Stay informed every step of the  with detailed reports that highlight progress and performance metrics.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--=== WORK AREA END === -->
</div>
