<div class="team5 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading5">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span5.svg" alt="">OUR TEAM </span>
                   <h2 class="text-anime-style-3">Meet Our Creative Crew</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="button text-end sm:text-start md:text-start md:mt-30 sm:mt-30" data-aos="fade-left" data-aos-duration="1000">
                    <a class="theme-btn10" href="team.html">Our Team Member <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="200">
                <div class="team5-item mt-30">
                    <div class="team-image-area">
                        <div class="image">
                            <img src="assets/img/team/team2-image1.png" alt="">
                        </div>
                        <div class="shape round-circle">
                            <img src="assets/img/shapes/team2-items-shape.png" alt="">
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content-area">
                        <div class="heading5">
                            <h4><a href="javascript:void(0);">Rodger Struck</a></h4>
                            <p class="mt-2">Social Media Specialist</p>
                        </div>
                        <div class="plue-icon">
                            <a href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="300">
                <div class="team5-item mt-30">
                    <div class="team-image-area">
                        <div class="image">
                            <img src="assets/img/team/team2-image2.png" alt="">
                        </div>
                        <div class="shape round-circle">
                            <img src="assets/img/shapes/team2-items-shape.png" alt="">
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content-area">
                        <div class="heading5">
                            <h4><a href="javascript:void(0);">Alex Buckmaster</a></h4>
                            <p class="mt-2">Marketing Officer</p>
                        </div>
                        <div class="plue-icon">
                            <a href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="400">
                <div class="team5-item mt-30">
                    <div class="team-image-area">
                        <div class="image">
                            <img src="assets/img/team/team2-image3.png" alt="">
                        </div>
                        <div class="shape round-circle">
                            <img src="assets/img/shapes/team2-items-shape.png" alt="">
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content-area">
                        <div class="heading5">
                            <h4><a href="javascript:void(0);">Sarah Joe</a></h4>
                            <p class="mt-2">Marketer</p>
                        </div>
                        <div class="plue-icon">
                            <a href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="500">
                <div class="team5-item mt-30">
                    <div class="team-image-area">
                        <div class="image">
                            <img src="assets/img/team/team2-image4.png" alt="">
                        </div>
                        <div class="shape round-circle">
                            <img src="assets/img/shapes/team2-items-shape.png" alt="">
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-content-area">
                        <div class="heading5">
                            <h4><a href="javascript:void(0);">Chris Glasser</a></h4>
                            <p class="mt-2">Marketer</p>
                        </div>
                        <div class="plue-icon">
                            <a href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
   </div>