<div class="cta-section-area others-cta sp">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto">  
          <div class="cta-header-area text-center sp4 white-heading">
            <h2>Competitor Analysis</h2>
            <p class="mt-16">Find the keywords your competitors rank for and analyze their <br class="d-lg-block d-none"> data insights to uncover their SEO strategy in one click</p>
            <div class="space40"></div>
            <div class="form-area">
              <form>
                <div class="input-area">
                  <span><i class="fa-solid fa-link"></i></span>
                  <input type="text" placeholder="https:// yoursite.com">
                </div>
  
                <div class="input-area">
                  <span><i class="fa-regular fa-envelope"></i></span>
                  <input type="text" placeholder="youremail@domain.com">
                </div>
                <div class="btn-area">
                    <button class="theme-btn3" type="submit">Contact Us <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></button>
                </div>
              </form>
            </div>
            <ul>
              <li>Try:</li>
              <li><a href="javascript:void(0);">Marketing</a></li>
              <li><a href="javascript:void(0);">Laptop</a></li>
              <li><a href="javascript:void(0);">iPhone</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>