<div class="inner-hero" style="background-image: url(assets/img/bg/inner-hero-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <div class="inner-main-heading">
                    @if(title && !subTitle){
                    <h1>{{ title }}</h1>
                    }
                    @if(title && subTitle){
                        <h1 >{{ subTitle }}</h1>
                        }
                    <div class="breadcrumbs-pages">
                        <ul>
                            <li class="me-1"> <a [routerLink]="['/']">Home</a></li>
                            <li class="angle me-1"><i class="fa-solid fa-angle-right"></i></li>
                            @if(title){
                            <li class="me-1">{{ title }} </li>
                            }
                            @if(title && subTitle){
                            <li class="angle"><i class="fa-solid fa-angle-right"></i></li>
                            <li class="me-1">{{ subTitle }} </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>