<div class="service9 sp bg-cover" style="background-image: url(assets/img/bg/sec-bg9.jpg);">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 m-auto text-center">
             <div class="heading9">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                      src="assets/img/icons/span9.svg" alt=""> Full-Service Social Media</span>
                <h2 class="text-anime-style-3">Social Media Growth Solutions</h2>
             </div>
          </div>
       </div>
       <div class="row mt-30">
          <div class="col-md-6 col-lg-4" data-aos="zoom-in-up" data-aos-duration="800">
             <div class="service9-box mt-90">
                <div class="icon">
                   <img src="assets/img/icons/service9-icon1.png" alt="">
                </div>
                <div class="content heading9">
                   <h4><a routerLink="/service-details1">Social Media Strategy</a></h4>
                   <p class="mt-16">An successful social media presence the starts with a strong strategy. At Perfictus,
                      we create customized social.</p>
                   <a routerLink="/service-details1" class="theme-btn18 mt-24">
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__text">Learn More </span>
                      <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                            class="fa-solid fa-arrow-right"></i></span>
                   </a>
                </div>
             </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in-up" data-aos-duration="900">
             <div class="service9-box mt-90">
                <div class="icon">
                   <img src="assets/img/icons/service9-icon2.png" alt="">
                </div>
                <div class="content heading9">
                   <h4><a routerLink="/service-details1">Social Media Advertising</a></h4>
                   <p class="mt-16">Social media marketing services an thedesigned to elevate your brand, boost
                      engagement, and drive real</p>
                   <a routerLink="/service-details1" class="theme-btn18 mt-24">
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__text">Learn More </span>
                      <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                            class="fa-solid fa-arrow-right"></i></span>
                   </a>
                </div>
             </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in-up" data-aos-duration="1000">
             <div class="service9-box mt-90">
                <div class="icon">
                   <img src="assets/img/icons/service9-icon3.png" alt="">
                </div>
                <div class="content heading9">
                   <h4><a routerLink="/service-details1">Social Media Analytics</a></h4>
                   <p class="mt-16">Our expert team ensures that every post, campaign, and interaction an best
                      aligns with your business goal.</p>
                   <a routerLink="/service-details1" class="theme-btn18 mt-24">
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__text">Learn More </span>
                      <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                            class="fa-solid fa-arrow-right"></i></span>
                   </a>
                </div>
             </div>
          </div>

          <div class="col-md-12 col-lg-5" data-aos="zoom-in-up" data-aos-duration="1100">
             <div class="service9-box mt-90">
                <div class="icon">
                   <img src="assets/img/icons/service9-icon4.png" alt="">
                </div>
                <div class="content heading9">
                   <h4><a routerLink="/service-details1">Influencer Marketing Partnerships</a></h4>
                   <p class="mt-16">Leverage the power of influencers to amplify your brand’s reach and
                      credibility. At Perfictus, we connect you with the right influencer who align with brand.</p>
                   <a routerLink="/service-details1" class="theme-btn18 mt-24">
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__text">Learn More </span>
                      <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                            class="fa-solid fa-arrow-right"></i></span>
                   </a>
                </div>
             </div>
          </div>

          <div class="col-md-12 col-lg-7" data-aos="zoom-in-up" data-aos-duration="1200">
             <div class="service9-box mt-90 add_thumb _relative">
                <div class="row">
                   <div class="col-lg-6">
                      <div class="_relative">
                         <div class="icon">
                            <img src="assets/img/icons/service9-icon5.png" alt="">
                         </div>
                         <div class="content heading9">
                            <h4><a routerLink="/service-details1">Video And Reels Marketing</a></h4>
                            <p class="mt-16">Our team carefully selects, negotiates, manages partnerships with
                               influencers across various social media platforms</p>
                            <a routerLink="/service-details1" class="theme-btn18 mt-24">
                               <span class="theme-btn18__shape"></span>
                               <span class="theme-btn18__shape"></span>
                               <span class="theme-btn18__shape"></span>
                               <span class="theme-btn18__shape"></span>
                               <span class="theme-btn18__text">Learn More </span>
                               <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                  class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                         </div>
                      </div>
                   </div>
                   <div class="col-lg-6">
                      <div class="service-box-thum _relative">
                         <img src="assets/img/service/service9-thum.png" alt="">
                      </div>
                   </div>
                </div>
             </div>
          </div>

       </div>
    </div>
 </div>