<div class="cta4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="cta4-image image-anime reveal" appGsapReveal>
                    <img class="w-full" src="assets/img/others/cta4-image.png" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="cta4-form-area">
                    <div class="white-heading">
                        <h2>Join Our Digital Marketing Insider Newsletter</h2>
                    </div>
                    <div class="form-area">
                        <form action="#">
                            <div class="single-input">
                                <input type="text" placeholder="Enter Your Email">
                            </div>
                            <div class="button">
                                <button type="submit" class="theme-btn9">
                                    <span class="theme-btn9__shape"></span>
                                    <span class="theme-btn9__shape"></span>
                                    <span class="theme-btn9__shape"></span>
                                    <span class="theme-btn9__shape"></span>
                                    <span class="theme-btn9__text">Subscribe</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>