

<div class="service5 sp">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image1.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">01</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Shopify Development</a></h4>
                    </div>
                </div>
            </div>
            

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image2.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">02</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Remote Developer<br> Outsourcing</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image3.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">03</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Graphic Designing</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image4.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">04</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Professional Video Editing</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image5.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">05</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Search Engine Optimization (SEO)</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image6.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">06</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Digital Marketing</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image7.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">07</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Real Estate</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image8.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">08</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Advertising </a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image9.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">09</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">E-commerce </a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image10.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">10</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Travel Guide </a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image11.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">11</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Insurance </a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image12.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">12</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Solar Energy </a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="service1 sp sp sec-bg2">
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
            <div class="heading2">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span3.svg" alt="">Problems We Solve </span>
               <h2 class="text-anime-style-3">Transforming Ideas into Impactful Results</h2>
               <p class="mt-16">At Perfictus, we identify and eliminate the real challenges holding businesses back. From supporting startups and optimizing HR staffing to strengthening digital presence through e-commerce, technology, and marketing solutions, we turn complexity into clarity. Our tailored, execution-focused approach ensures every solution drives efficiency, growth, and long-term business impact. </p>
            </div>
          </div>
          <div class="col-lg-6">
             <div class="overflow-hidden">
                <div class="service1-image image-anime reveal md:mt-30 sm:mt-30" appGsapReveal>
                   <img src="assets/img/service/service1-image.png" alt="">
                </div>
             </div>
          </div>
       </div>
       <div class="row mt-30">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>1</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Startup challenges</a></h5>
                   <p class="mt-16">From ideation to execution, we help new businesses take flight seamlessly</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>2</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Poor Performance</a></h5>
                   <p class="mt-16">Suboptimal site speed, mobile UX, and conversion rates impacting revenue</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>3</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">High Hiring Costs</a></h5>
                   <p class="mt-16">Expense and complexity of building full-time in-house technical teams</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>4</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Complex Integrations</a></h5>
                   <p class="mt-16">Challenging ERP, 3PL, and marketplace integrations without proper expertise</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>5</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Manual Inefficiencies</a></h5>
                   <p class="mt-16">Lack of automation causing operational bottlenecks and scaling challenge</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>6</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Vendor Fragmentation</a></h5>
                   <p class="mt-16">Dependence on multiple vendors with no single point of accountability</p>
                </div>
             </div>
          </div>


       </div>
    </div>
 </div>
