<div class="service5 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image1.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">01</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Business Strategy</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image2.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">02</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Business Strategy</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image3.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">03</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Business Strategy</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image4.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">04</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Business Strategy</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image5.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">05</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">HR Staffing</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image6.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">06</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Web Design</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image7.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">07</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Real Estate</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image8.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">08</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Advertising </a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image9.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">09</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">E-commerce </a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image10.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">10</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Travel Guide </a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image11.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">11</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Insurance </a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="service-page-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image12.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">12</div>
                        <a routerLink="/service" class="arrow"><i
                                class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service">Solar Energy </a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
