<div class="cta9" style="background-image: url(assets/img/bg/cta9-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="white-heading">
                    <h2>Boost Your Brand’s Reach Turn Followers Customers!</h2>
                    <p class="mt-16">Whether you're looking to build brand awareness, generate leads, or the boost
                        conversion, our expert of team will craft</p>
                    <div class="cta9-form">
                        <form action="#">
                            <input type="url" placeholder="Enter Email Address">
                            <div class="button">
                                <button type="submit" class="theme-btn17">
                                    <span class="theme-btn17__shape"></span>
                                    <span class="theme-btn17__shape"></span>
                                    <span class="theme-btn17__shape"></span>
                                    <span class="theme-btn17__shape"></span>
                                    <span class="theme-btn17__text">Subscribe Now </span>
                                    <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                        class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="cta9-apps-image ml-60 sm:ml-0 md:ml-0 sm:mt-30 md:mt-30">
                    <img src="assets/img/apps/cta9-apps.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>