<div class="choose2 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading2">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900">WHY CHOOSE US </span>
                    <h2 class="text-anime-style-3">Your Success, Our Priority</h2>
                                        <p class="mt-16" data-aos="fade-right" data-aos-duration="800">Proven expertise driving e-commerce growth globally, India, and GCC. Expert team fluent in Shopify and integrations. Dedicated partnership ensuring personalized delivery.</p>


                    <div class="choose2-apps">
                        <div class="row">
                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="200">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/Measured Growth.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>Measured Growth</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="300">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/Shopify Expertise.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>E-com Expertise</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="350">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/Fast Execution.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>Fast Execution</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="400">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/True Partnership.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>True Partnership</h4>
                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="450">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/Revenue Optimization.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>Revenue Optimization</h4>
                                    </div>
                                </div>
                            </div> 

                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="500">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/Remote Developers.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>Remote Developers</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose2-images ml-40 sm:ml-0 md:ml-0 sm:mt-30 md:mt-30">
                    <div class="image1 image-anime reveal" appGsapReveal>
                        <img src="assets/img/others/choose2-image1.png" alt="">
                    </div>
                    <div class="image2 image-anime reveal" appGsapReveal>
                        <img src="assets/img/others/choose2-image2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>


 <div class="marquee">
  <div class="marquee-track" [style.animation-duration]="duration"
       [style.animation-direction]="direction === 'right' ? 'reverse' : 'normal'">
    <div class="marquee-content">
      <div class="item" *ngFor="let item of items">
        <img [src]="item.imageUrl" alt="icon" class="item-image">
        <span>{{ item.text }}</span>
      </div>
    </div>
    <!-- Duplicated for seamless loop -->
    <div class="marquee-content">
      <div class="item" *ngFor="let item of items">
        <img [src]="item.imageUrl" alt="icon" class="item-image">
        <span>{{ item.text }}</span>
      </div>
    </div>
  </div>
</div>











