<div class="about9 sp">
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
             <div class="about9-images">
                <div class="shape1 overflow-hidden _relative reveal" appGsapReveal>
                   <img src="assets/img/shapes/about9-shape1.png" alt="">
                </div>
                <div class="shape2">
                   <img src="assets/img/shapes/about9-shape2.png" alt="">
                </div>
                <div class="shape3">
                   <img src="assets/img/shapes/about9-shape3.png" alt="">
                </div>
                <div class="shape4">
                   <div class="num">
                      <h3>10+</h3>
                   </div>
                   <div class="content">
                      <p>Years Of Experience</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="heading9">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                      src="assets/img/icons/span9.svg" alt=""> Crafting Custom Strategies</span>
                <h2 class="text-anime-style-3">Driving Brands Forward with A Smart Marketing</h2>
                <p class="mt-16" data-aos="fade-left" data-aos-duration="800">Our team experts specializes in
                   enhancing your online presence, ensuring that you brand not only gets noticed but also converts.
                </p>
                <div class="about9-counters" data-aos="fade-left" data-aos-duration="1000">
                   <div class="row">
                      <div class="col-md-3 col-6">
                         <div class="count-box">
                            <h3>24</h3>
                            <p>Countries</p>
                            <img src="assets/img/shapes/about9-count-shape.png" alt="" class="count-shape">
                         </div>
                      </div>

                      <div class="col-md-3 col-6">
                         <div class="count-box">
                            <h3>11k</h3>
                            <p>Countries</p>
                            <img src="assets/img/shapes/about9-count-shape.png" alt="" class="count-shape">
                         </div>
                      </div>

                      <div class="col-md-3 col-6">
                         <div class="count-box">
                            <h3>10k</h3>
                            <p>Satisfied Client</p>
                            <img src="assets/img/shapes/about9-count-shape.png" alt="" class="count-shape">
                         </div>
                      </div>

                   </div>
                </div>
                <div class="button mt-40" data-aos="fade-left" data-aos-duration="1200">
                   <a href="javascript:void(0);" class="theme-btn17">
                      <span class="theme-btn17__shape"></span>
                      <span class="theme-btn17__shape"></span>
                      <span class="theme-btn17__shape"></span>
                      <span class="theme-btn17__shape"></span>
                      <span class="theme-btn17__text">Boost My Social Media </span>
                      <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                            class="fa-solid fa-arrow-right"></i></span>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>