<nav class="vl-mobile-menu-active">
    <ul id="list-example">
        <li [ngClass]="{
            active: activeLink === 'about'
          }" (click)="setActiveLink('about')"><a class="list-group-item list-group-item-action"  [ngxScrollTo]="'about'">About</a></li>
        <li  [ngClass]="{
            active: activeLink === 'service'
          }" (click)="setActiveLink('service')"><a class="list-group-item list-group-item-action"  [ngxScrollTo]="'service'">Service</a></li>
        <li  [ngClass]="{
            active: activeLink === 'work'
          }" (click)="setActiveLink('work')"><a class="list-group-item list-group-item-action"  [ngxScrollTo]="'work'">Work</a></li>
        <li  [ngClass]="{
            active: activeLink === 'choose'
          }" (click)="setActiveLink('choose')"><a class="list-group-item list-group-item-action"  [ngxScrollTo]="'choose'">Testimonial</a></li>
        <li  [ngClass]="{
            active: activeLink === 'blog'
          }" (click)="setActiveLink('blog')"><a class="list-group-item list-group-item-action"  [ngxScrollTo]="'blog'">Blog</a></li>
    </ul>
</nav>