<div class="inner-page-counter-sec bg-cover"
style="background-image: url(assets/img/bg/about-page-count-bg.png);">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="white-heading text-center">
                <span class="sub-title"> 'Perfictus' PERFECTION
                    FACTS</span>
            </div>
        </div>
    </div>
    <div class="row mt-10">

        <div class="col-lg col-md-4">
            <div class="inner-counter-box mt-30">
                <h3>114+</h3>
                <p>Projects Completed</p>
            </div>
        </div>

        <div class="col-lg col-md-4">
            <div class="inner-counter-box mt-30">
                <h3>$1M</h3>
                <p>Revenue Generated</p>
            </div>
        </div>

        <div class="col-lg col-md-4">
            <div class="inner-counter-box mt-30">
                <h3>57+</h3>
                <p>Satisfied Clients</p>
            </div>
        </div>


    </div>
</div>
</div>