<section class="analysis-area sp">
    <div class="container">
       <div class="row">
          <div class="col-lg-7 m-auto text-center">
            <div class="heading2">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span3.svg" alt=""> WEBSITE ANALYSIS </span>
                <h2 class="text-anime-style-3">Conduct Website Audience Analysis and Explore Its Geography</h2>
            </div>
          </div>
       </div>
       <div class="space60"></div>
       <div class="row">
          <div class="col-lg-10 m-auto">
             <div class="services-seo">
                <div class="services-seo-scroll">
                   <div class="services-seo-head">
                      <div class="row">
                         <div class="col-xl-4 col-lg-5 col-5">
                            <div class="services-seo-heading">
                               <h4 class="services-seo-heading-title">
                                  <input id="remeber" type="checkbox">
                                  <label for="remeber">Blanking</label>
                               </h4>
                            </div>
                         </div>
                         <div class="col-xl-8 col-lg-7 col-7">
                            <div class="services-seo-catagory">
                               <div class="row">
                                  <div class="col-lg-3 col-3">
                                     <div class="services-seo-heading-item services-seo-catagory-one">
                                        <span>Score</span>
                                     </div>
                                  </div>
                                  <div class="col-lg-3 col-3">
                                     <div class="services-seo-heading-item services-seo-catagory-two">
                                        <span>Keyword</span>
                                     </div>
                                  </div>
                                  <div class="col-lg-3 col-3">
                                     <div class="services-seo-heading-item services-seo-catagory-three">
                                        <span>Domain</span>
                                     </div>
                                  </div>
                                  <div class="col-lg-3 col-3">
                                     <div class="services-seo-heading-item services-seo-catagory-four">
                                        <div class="rank">
                                           <span>Rank
                                              <i class="fa-light fa-angle-up"></i>
                                           </span>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="services-seo-info">
                      <div class="services-seo-item">
                         <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5 col-5">
                               <div class="services-seo-link d-flex">
                                  <div class="services-seo-link-check">
                                     <input id="seo-link-check" type="checkbox">
                                     <label for="seo-link-check">WOG PRIDE on the app store</label>
                                     <span><a href="javascript:void(0);">https://www.daraz.com/gameing-laptops/</a></span>
                                  </div>
                               </div>
                            </div>
                            <div class="col-xl-8 col-lg-7 col-7">
                               <div class="services-seo-catagory">
                                  <div class="row">
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-one">
                                           <span>86</span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-two">
                                           <span>Laptop</span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-three">
                                           <span><a href="javascript:void(0);">daraz.com</a></span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div
                                           class="services-seo-catagory-item services-seo-catagory-four d-flex align-items-center">
                                           <div class="stable-rank"><span>4</span></div>
                                           <div class="incridable-rank">
                                            <i class="fa-solid fa-angle-up"></i>
                                              <span>1</span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="services-seo-item">
                         <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5 col-5">
                               <div class="services-seo-link d-flex">
                                  <div class="services-seo-link-check">
                                     <input id="seo-link-check-2" type="checkbox">
                                     <label for="seo-link-check-2">SEO PRIDE on the app store</label>
                                     <span><a href="javascript:void(0);">https://www.daraz.com/gameing-laptops/</a></span>
                                  </div>
                               </div>
                            </div>
                            <div class="col-xl-8 col-lg-7 col-7">
                               <div class="services-seo-catagory">
                                  <div class="row">
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-one">
                                           <span>105</span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-two">
                                           <span>Laptop</span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-three">
                                           <span><a href="javascript:void(0);">daraz.com</a></span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div
                                           class="services-seo-catagory-item services-seo-catagory-four d-flex align-items-center">
                                           <div class="stable-rank"><span>0</span></div>
                                           <div class="incridable-rank">
                                            
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="services-seo-item">
                         <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5 col-5">
                               <div class="services-seo-link d-flex">
                                  <div class="services-seo-link-check">
                                     <input id="seo-link-check-3" type="checkbox">
                                     <label for="seo-link-check-3">PRIDE on the app store</label>
                                     <span><a href="javascript:void(0);">https://www.daraz.com/gameing-laptops/</a></span>
                                  </div>
                               </div>
                            </div>
                            <div class="col-xl-8 col-lg-7 col-7">
                               <div class="services-seo-catagory">
                                  <div class="row">
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-one">
                                           <span>42</span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-two">
                                           <span>Laptop</span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-three">
                                           <span><a href="javascript:void(0);">daraz.com</a></span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div
                                           class="services-seo-catagory-item services-seo-catagory-four d-flex align-items-center">
                                           <div class="stable-rank"><span>3</span></div>
                                           <div class="incridable-rank incridable-rank-y">
                                            <i class="fa-solid fa-angle-up"></i>
                                              <span>2</span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="services-seo-item">
                         <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5 col-5">
                               <div class="services-seo-link d-flex">
                                  <div class="services-seo-link-check">
                                     <input id="seo-link-check-4" type="checkbox">
                                     <label for="seo-link-check-4">WOG on the Online store</label>
                                     <span><a href="javascript:void(0);">https://www.daraz.com/gameing-laptops/</a></span>
                                  </div>
                               </div>
                            </div>
                            <div class="col-xl-8 col-lg-7 col-7">
                               <div class="services-seo-catagory">
                                  <div class="row">
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-one">
                                           <span>06</span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-two">
                                           <span>Laptop</span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div class="services-seo-catagory-item services-seo-catagory-three">
                                           <span><a href="javascript:void(0);">daraz.com</a></span>
                                        </div>
                                     </div>
                                     <div class="col-lg-3 col-3">
                                        <div
                                           class="services-seo-catagory-item services-seo-catagory-four d-flex align-items-center">
                                           <div class="stable-rank"><span>5</span></div>
                                           <div class="incridable-rank">
                                            <i class="fa-solid fa-angle-up"></i>
                                              <span>1</span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>