<div class="blog4 sp sec-bg3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading4">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> BLOG</span>
                    <h2 class="text-anime-style-3">Our Latest Blog & Insight </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-end button md:mt-20 sm:mt-20 md:text-start sm:text-start">
                    <a routerLink="/service" class="theme-btn8">
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__text">View All Blogs </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-lg-12">
                <div class="vl-blog-4-item big_post mt-30" data-aos="fade-up" data-aos-duration="1100">
                    <div class="row align-items-center">
                       <div class="col-lg-6">
                          <div class=" vl-blog-4-thumb-big image-anime overflow-hidden _relative">
                             <img class="w-full" src="assets/img/blog/blog4-big-post.png" alt="">
                          </div>
                       </div>
                       <div class="col-lg-6">
                          <div class="vl-blog-4-content heading4">
                             <div class="vl-blog4-meta pb-16">
                                <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                                <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                             </div>
                             <h3><a routerLink="/blog-detail">The Ultimate Guide to Scaling Your Business with Affiliate Marketing</a></h3>
                             <p class="mt-16">Affiliate marketing is more than just a trend; it's a powerful tool for scaling businesses. In this blog we delve into how businesses.</p>
                             <a routerLink="/blog-detail" class="learn1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                          </div>
                       </div>
                    </div>
                 </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1100">
                <div class="vl-blog-4-item add-bg mt-30">
                    <div class=" vl-blog-4-thumb">
                        <img src="assets/img/blog/blog4-smoll-post1.png" alt="">
                     </div>
                    <div class="vl-blog-4-content heading4 mt-30">
                        <div class="vl-blog4-meta pb-16">
                           <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                           <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                        </div>
                        <h5><a routerLink="/blog-detail">Mastering Digital Marketing: Actionable Insights to Drive Real Results for Your Business</a></h5>
                        <a routerLink="/blog-detail" class="learn1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="vl-blog-4-item  add-bg mt-30">
                    <div class=" vl-blog-4-thumb">
                        <img src="assets/img/blog/blog4-smoll-post2.png" alt="">
                     </div>
                    <div class="vl-blog-4-content heading4 mt-30">
                        <div class="vl-blog4-meta pb-16">
                           <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                           <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                        </div>
                        <h5><a routerLink="/blog-detail">The Future of Digital Marketing Trends Technologies Shaping Tomorrow’s Strategies</a></h5>
                        <a routerLink="/blog-detail" class="learn1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="vl-blog-4-item add-bg mt-30">
                    <div class=" vl-blog-4-thumb">
                        <img src="assets/img/blog/blog4-smoll-post3.png" alt="">
                     </div>
                    <div class="vl-blog-4-content heading4 mt-30">
                        <div class="vl-blog4-meta pb-16">
                           <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                           <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                        </div>
                        <h5><a routerLink="/blog-detail">From SEO to Social Media: Proven Techniques to Build Your Brand Online</a></h5>
                        <a routerLink="/blog-detail" class="learn1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>