<div class="blog8 sp bg-cover bg-cover" style="background-image: url(assets/img/bg/sec-bg10.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading10">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span10.svg" alt=""> our latest blog and news</span>
                    <h2 class="text-anime-style-3">Stay Ahead with Expert SEO And Marketing Tips</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
                <div class="vl-blog-10-item mt-30">
                    <div class="vl-blog-10-thumb">
                        <div class="image-anime image">
                            <img class="w-full" src="assets/img/blog/blog10-image1.png" alt="">
                        </div>
                        <div class="vl-blog10-meta">
                            <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date10.svg" alt=""> 15 Aug</a>
                        </div>
                    </div>
                    <div class="vl-blog-10-content heading10">
                        <div class="vl-blog10-meta">
                            <a href="javascript:void(0);" class="user"><img src="assets/img/icons/user10.svg" alt=""> Autumn Phillips</a>
                        </div>
                        <h5 class="mt-16 mb-16"><a routerLink="/blog-detail">How to Optimize Your Website for Google’s
                                Latest Algorithm Update</a></h5>
                        <a routerLink="/blog-detail" class="learn10">learn more <span class="arrow1"><i
                                    class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i
                                    class="fa-regular fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <div class="vl-blog-10-item mt-30">
                    <div class="vl-blog-10-thumb">
                        <div class="image-anime image">
                            <img class="w-full" src="assets/img/blog/blog10-image2.png" alt="">
                        </div>
                        <div class="vl-blog10-meta">
                            <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date10.svg" alt=""> 15 Aug</a>
                        </div>
                    </div>
                    <div class="vl-blog-10-content heading10">
                        <div class="vl-blog10-meta">
                            <a href="javascript:void(0);" class="user"><img src="assets/img/icons/user10.svg" alt=""> Chris Glasser</a>
                        </div>
                        <h5 class="mt-16 mb-16"><a routerLink="/blog-detail">How to Optimize Your Website for Google’s
                                Latest Algorithm Update</a></h5>
                        <a routerLink="/blog-detail" class="learn10">learn more <span class="arrow1"><i
                                    class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i
                                    class="fa-regular fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
                <div class="vl-blog-10-item mt-30">
                    <div class="vl-blog-10-thumb">
                        <div class="image-anime image">
                            <img class="w-full" src="assets/img/blog/blog10-image3.png" alt="">
                        </div>
                        <div class="vl-blog10-meta">
                            <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date10.svg" alt=""> 15 Aug</a>
                        </div>
                    </div>
                    <div class="vl-blog-10-content heading10">
                        <div class="vl-blog10-meta">
                            <a href="javascript:void(0);" class="user"><img src="assets/img/icons/user10.svg" alt=""> Alex Buckmaster</a>
                        </div>
                        <h5 class="mt-16 mb-16"><a routerLink="/blog-detail">How to Optimize Your Website for Google’s
                                Latest Algorithm Update</a></h5>
                        <a routerLink="/blog-detail" class="learn10">learn more <span class="arrow1"><i
                                    class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i
                                    class="fa-regular fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>