<nav class="vl-mobile-menu-active">
  <ul>

    <!-- HOME (Single page only) -->
    <li>
      <a routerLink="/home">Home</a>
    </li>

    <!-- OTHER MENU ITEMS -->
    @for (item of menu; track $index) {
      <li class="has-dropdown">
        <a [routerLink]="item.link">
          {{ item.title }}
          @if (item.subMenu) {
            <span>
              <i class="fa-regular fa-angle-down"></i>
            </span>
          }
        </a>

        @if (item.subMenu) {
          <ul class="sub-menu">
            @for (sub of item.subMenu; track $index) {
              <li>
                <a [routerLink]="sub.link">
                  {{ sub.title }}
                  @if (sub.nestedMenu) {
                    <span>
                      <i class="fa-solid fa-angle-right d-lg-block d-none"></i>
                    </span>
                  }
                </a>

                @if (sub.nestedMenu) {
                  <ul class="sub-menu menu1">
                    @for (nested of sub.nestedMenu; track $index) {
                      <li>
                        <a [routerLink]="nested.link">
                          {{ nested.title }}
                        </a>
                      </li>
                    }
                  </ul>
                }
              </li>
            }
          </ul>
        }
      </li>
    }

  </ul>
</nav>
