<nav class="vl-mobile-menu-active">
    <ul>
        @for (menu of menuItems; track $index) {
        <li class="has-dropdown">
            <a routerLink="/index7">{{menu.label}} </a>
            <!-- <div class="vl-mega-menu">
                <div class="vl-home-menu">
                    <div class="row gx-3 row-cols-1 row-cols-md-1 row-cols-lg-5">
                        @for (demo of menu.children; track $index) {
                        <div class="col">
                            <div class="vl-home-thumb">
                                <div class="img1">
                                    <img [src]="demo.image" alt="">
                                </div>
                                <a class="text" routerLink="/">{{demo.title}}</a>
                                <div class="btn-area1">
                                    <a routerLink="{{demo.multiPage}}" [class]="btnColor">Multi Page 
                                        @if(Arrow){<span
                                            class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                            class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>}</a>
                                    <a routerLink="{{demo.onePage}}" [class]="btnColor">One Page @if(Arrow){ <span class="arrow1"><i
                                                class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                                class="fa-solid fa-arrow-right"></i></span>}</a>
                                </div>
                                <div class="space20 d-lg-none d-block"></div>
                            </div>
                        </div>}
                    </div>
                </div>
            </div> -->

        </li>
        }
        @for (item of menu; track $index) {
        <li class="has-dropdown">
            <a [href]="item.link" >{{ item.title }}
                @if (item.subMenu) {
                <span>
                    <i class="fa-regular fa-angle-down"></i>
                </span>
                }
            </a>
            @if (item.subMenu) {
            <ul class="sub-menu">
                @for (sub of item.subMenu; track $index) {
                <li>
                    <a [href]="sub.link"class="span-arrow">{{ sub.title }} 
                        @if(sub.nestedMenu){
                        <span><i class="fa-solid fa-angle-right d-lg-block d-none"></i></span>
                        }
                    </a>
                    @if (sub.nestedMenu) {
                    <ul class="sub-menu menu1">
                        @for (nested of sub.nestedMenu; track $index) {
                        <li>
                            <a [href]="nested.link">{{ nested.title }}

                            </a>
                        </li>
                        }
                    </ul>
                    }
                </li>
                }
            </ul>
            }
        </li>
        }
    </ul>
</nav>