<div class="blog-details-area sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <div class="details-content">
                        <div class="image">
                            <img class="w-full" src="assets/img/service/service-details6-image.png" alt="">
                        </div> 
                    </div>
                 </article>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-area mt-50">
                    <div class="_sidebar-widget _search">
                        <h3>Search</h3>
                        <form action="#" class="_relative">
                            <input type="search" placeholder="Search...">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="_sidebar-widget _list mt-40">
                        <h3>Categories</h3>
                        <div class="sidebar-list">
                            <ul>
                                <li><a routerLink="/service-details1">SEO Marketing <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details2">Social Media Strategy  <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details3">Content Marketing <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details4">Pay-Per-Click Advertising <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details5">Travel Guide Expertise <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details6" class="active">HR Staffing Agency <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details7">Insurance Policy <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details8">Real Estate <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details9">Startup Agency <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="_sidebar-widget _buttons mt-40">
                        <h3>You Still Have A Question</h3>
                        <p class="mt-16">If you cannot find answer to your question our FAQ, you can always contact us. Web will answer you shortly!</p>
                        <div class="buttons mt-16">
                            <a href="mailto:info&#64;perfictus.com" class="sidebar-btn1"><img src="assets/img/icons/sidebar-email.png" alt=""> info&#64;perfictus.com</a>
                            <a href="tel:123-456-7890" class="sidebar-btn2"><img src="assets/img/icons/sidebar-phone.png" alt=""> 123-456-7890</a>
                        </div>
                    </div>
                    
                    <div class="_sidebar-widget _contact mt-40">
                        <h3>Get A Free Quote</h3>
                        <div class="_contact-form mt-10">
                            <form action="#">
                                <input type="text" placeholder="Your Name">
                                <input type="email" placeholder="Email Address">
                                <input type="number" placeholder="Phone Number">
                                <textarea rows="5" placeholder="Your Message"></textarea>
                                
                                <button class="theme-btn3 mt-20" type="submit">Send <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-details-content ml-30 md:ml-0 sm:ml-0 mt-50">
                  <article>
                     <div class="details-content">
                         <div class="heading2 mt-24">
                             <h3>Empowering Businesses with the Right Talent </h3>
                             <p class=" mt-16">We specialize in HR staffing solutions that help businesses find, hire, and retain top talent. Whether you're a growing startup or an established enterprise, our tailored recruitment strategies ensure you get the right candidates for your business needs. From temporary staffing to executive placements, we handle every aspect of the hiring process, allowing you to focus on running your business efficiently.</p>
                         </div>

                         <div class="heading2 mt-40">
                            <h3>What we Offer </h3>
                         </div>
                         <div class="row pt-10">
                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Permanent Staffing</a></h4>
                                    <p class="mt-12">Find long-term employees who align with your company’s culture and goals.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Temporary & Contract Staffing</a></h4>
                                    <p class="mt-12">Flexible hiring solutions for short-term projects or seasonal demands.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Executive Search & Recruitment</a></h4>
                                    <p class="mt-12">Identify and hire top-tier leadership and management professionals.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Industry-Specific Staffing</a></h4>
                                    <p class="mt-12">Customized staffing solutions  industries like IT, healthcare, finance, and more.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Talent Acquisition & Screening</a></h4>
                                    <p class="mt-12">Comprehensive candidate assessment to ensure the best fit.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Workforce Planning & Consulting</a></h4>
                                    <p class="mt-12">Strategic HR solutions to optimize your team structure and productivity.</p>
                                </div>
                            </div>

                         </div>
                         
                     </div>
                  </article>

                  <article>
                     <div class="details-content mt-40">
                         <div class="heading2">
                             <h3>Why Choose Perfictus for HR Staffing?</h3>
                             <p class=" mt-16">We have deep knowledge of multiple industries and recruitment trends. Customized staffing strategies to meet your specific business goals. Reduce time-to-hire with our streamlined recruitment process. Rigorous screening to ensure the right candidate fit. We provide workforce consulting and retention strategies for long-term success. </p>
                         </div>

                         <div class="heading2 mt-40">
                           <h3>Build a Stronger Workforce Today!</h3>
                           <p class=" mt-16">At Perfictus, we take the stress out of hiring by delivering high-quality staffing solutions tailored to your needs. Whether you need temporary support or full-time professionals, we ensure you get the best talent for sustainable business growth.</p>
                        </div>
                         

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Understanding Your Hiring Needs</a></h4>
                                <p class="mt-2">We begin with a detailed consultation to analyze your staffing requirements, company culture, and business objectives.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Sourcing & Screening Candidates</a></h4>
                                <p class="mt-2">Using advanced recruitment tools and a vast talent network, we identify and screen candidates who match your job requirements.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">PInterview & Selection Support</a></h4>
                                <p class="mt-2">From cultural etiquette to packing checklists, we equip you with insights to enhance your travel experience.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Ongoing Support & Recommendations</a></h4>
                                <p class="mt-2">We streamline the interview and selection process, ensuring you only meet the most qualified candidates.</p>
                            </div>
                         </div>

                         <div class="row">
                            <div class="col-md-6">
                               <div class="image mt-40">
                                  <img class="w-full" src="assets/img/blog/blog-details-image2.png" alt="">
                              </div>
                            </div>
                            <div class="col-md-6">
                               <div class="image mt-40">
                                  <img class="w-full" src="assets/img/blog/blog-details-image3.png" alt="">
                              </div>
                            </div>
                          </div>

                     </div>
                  </article>

                  <div class="details-border"></div>

                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon1.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">SEO Optimization </a></h4>
                                <p class="mt-10">Drive organic traffic and improve your online visibility </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center sm:mt-30">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon2.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">PPC Advertising </a></h4>
                                <p class="mt-10">Maximize ROI with targeted PPC campaigns designed </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center md:mt-30 sm:mt-30">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon3.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">Content Marketing </a></h4>
                                <p class="mt-10">content marketing services encompass everything  </p>
                            </div>
                        </div>
                    </div>

                  </div>

                  <div class="details-border"></div>

                </div>
            </div>
        </div>
    </div>
   </div>
