<div class="case4 sp sec-bg3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading4">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span1.svg" alt=""> CASE STUDY</span>
                    <h2 class="text-anime-style-3">Driving Growth for Perfictus </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-end button md:mt-20 sm:mt-20 md:text-start sm:text-start" data-aos="fade-left"
                    data-aos-duration="800">
                    <a routerLink="/service" class="theme-btn8">
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__text">View All Case Study </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-40">
            <div class="col-lg-7 m-auto">
                <div class="case4-slider-all" data-aos="fade-up" data-aos-duration="800">
                    <div class="testimonial2-slider-area">
                        <ngx-slick-carousel   [config]="slideConfig"
                        (init)="slickInit($event)"
                        (beforeChange)="beforeChange($event, $event.currentSlide, $event.nextSlide)" class="rev_slider">
                            <div ngxSlickItem class="rev_slide">
                                <div class="test">
                                    <img src="assets/img/others/case4-slider1.png" alt="">
                                </div>
                                <div class="text">
                                    <a routerLink="/service" class="theme-btn8">
                                        Learn More
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="javascript:void(0);">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div ngxSlickItem class="rev_slide">
                                <div class="test">
                                    <img src="assets/img/others/case4-slider2.png" alt="">
                                </div>
                                <div class="text">
                                    <a routerLink="/service" class="theme-btn8">
                                        Learn More
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="javascript:void(0);">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div ngxSlickItem class="rev_slide">
                                <div class="test">
                                    <img src="assets/img/others/case4-slider3.png" alt="">
                                </div>
                                <div class="text">
                                    <a routerLink="/service" class="theme-btn8">
                                        Learn More
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="javascript:void(0);">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  ngxSlickItem class="rev_slide">
                                <div class="test">
                                    <img src="assets/img/others/case4-slider1.png" alt="">
                                </div>
                                <div class="text">
                                    <a routerLink="/service" class="theme-btn8">
                                        Learn More
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="javascript:void(0);">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div  ngxSlickItem class="rev_slide">
                                <div class="test">
                                    <img src="assets/img/others/case4-slider2.png" alt="">
                                </div>
                                <div class="text">
                                    <a routerLink="/service" class="theme-btn8">
                                        Learn More
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="javascript:void(0);">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div ngxSlickItem class="rev_slide">
                                <div class="test">
                                    <img src="assets/img/others/case4-slider3.png" alt="">
                                </div>
                                <div class="text">
                                    <a routerLink="/service" class="theme-btn8">
                                        Learn More
                                    </a>
                                    <div class="heading4 mt-20">
                                        <h4><a href="javascript:void(0);">SEO Optimization</a></h4>
                                        <p class="mt-10">Conducted in-depth keyword research & implemented on-page SEO.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>