
<div class="hero3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="main-heading3">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span4.svg" alt=""> Perfictus ADVERTISING AGENCY </span>
                    <h1 class="text-anime-style-3">Transform Water Bottles into Brand Ambassadors</h1>
                    <p class="mt-16" data-aos="fade-right" data-aos-duration="900">Designed with premium materials and customizable options, they’re eco-friendly, durable, and stylish. Let your brand make a statement, one sip at a time, while showcasing your commitment to quality and sustainability. <img src="assets/img/shapes/hero3-heading-shape.png" alt=""></p>
                    <div class="buttons mt-30" data-aos="fade-right" data-aos-duration="1100">
                        <a class="theme-btn5" routerLink="/contact">Get Started Now</a>
                        <a href="tel:123-456-7890" class="hero3-call-btn"><img src="assets/img/icons/hero3-call.svg" alt="">123-456-7890</a>
                    </div>
                    <div class="review-area-all" data-aos="fade-right" data-aos-duration="1300">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="award-area">
                                    <div class="award-image">
                                        <img src="assets/img/others/hero3-brand1.png" alt="">
                                    </div>
                                    <div class="award-content">
                                        <p>Award Winning Agency</p>
                                        <h6><span>2500+</span> Active Clients</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="review-on-image">
                                    <img src="assets/img/others/hero3-brand2.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="review-stars-area">
                                    <ul>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                        <li><i class="fa-solid fa-star"></i></li>
                                    </ul>
                                    <p class="stars-text">1300+ Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero3-images">
                    <div class="shape1">
                        <img src="assets/img/shapes/hero3-shape1.png" alt="">
                    </div>
                    <div class="shape2 animate3">
                        <img src="assets/img/shapes/hero3-shape2.png" alt="">
                    </div>
                    <div class="main-image animate1">
                        <img src="assets/img/hero/hero3-main-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>