<div class="contact4 sp">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="contact4-form-area">
          <div class="heading4">
            <span
              class="sub-title"
              data-aos="zoom-in-left"
              data-aos-duration="900"
              ><img src="assets/img/icons/span1.svg" alt="" /> CONTACT US</span
            >
            <h2 class="text-anime-style-3">Lets Work Together</h2>
            <p class="mt-16">
              Ready to take your business to the next level? Contact us today
              for a free consultation. Together, we’ll create a digital
              marketing strategy that delivers real results.
            </p>
            <form action="#" data-aos="fade-right" data-aos-duration="1000">
              <div class="row mt-16">
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" placeholder="First Name" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" placeholder="Last Name" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="email" placeholder="Email Address" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="number" placeholder="Phone Number" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-input">
                    <ng-select
                      name="options"
                      [items]="options"
                      bindLabel="name"
                      [(ngModel)]="selectedOption"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-input">
                    <textarea
                      rows="5"
                      placeholder="How can we help you?"
                    ></textarea>
                  </div>
                  <div class="button mt-30">
                    <button type="submit" class="theme-btn8">
                      <span class="theme-btn8__shape"></span>
                      <span class="theme-btn8__shape"></span>
                      <span class="theme-btn8__shape"></span>
                      <span class="theme-btn8__shape"></span>
                      <span class="theme-btn8__text">Send Now</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact4-images ml-40 md:ml-40 sm:ml-0">
          <div class="image image-anime reveal" appGsapReveal>
            <img src="assets/img/others/contact4-image.png" alt="" />
          </div>
          <div class="shape animate1">
            <img src="assets/img/shapes/tes1-shape.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
