<div class="tes2 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="heading2">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span3.svg" alt="">OUR TESTIMONIALS </span>
                    <h2 class="text-anime-style-3">Our Clients Love Working With Us</h2>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="button text-end sm:text-start md:text-start md:mt-30 sm:mt-30" data-aos="fade-left"
                    data-aos-duration="1000">
                    <a class="theme-btn3" routerLink="/testimonial">See All Reviews <span class="arrow1"><i
                                class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" data-aos-duration="900">
                <ngx-slick-carousel [config]="testiConfig" class="tes2-slider mt-60">
                    <div ngxSlickItem class="tes2-single-slider">
                        <div class="qoute">
                            <img src="assets/img/icons/qoute2.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="rating-text">(5) Rating</li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>"We saw a dramatic increase in engagement within the first month of partnering with Perfictus.
                                Their creativity and strategy have truly transformed our online presence!"</p>
                        </div>
                        <div class="author-area">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/team2-image1.png" alt="">
                            </div>
                            <div class="author-ifo ml-16 heading2">
                                <h4><a href="javascript:void(0);">Samuel Masil Francis</a></h4>
                                <p class="mt-1">Director</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes2-single-slider">
                        <div class="qoute">
                            <img src="assets/img/icons/qoute2.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="rating-text">(5) Rating</li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>"The team at Perfictus is phenomenal! They understood our brand’s vision and executed
                                campaigns that not only boosted our followers but also doubled our sales."</p>
                        </div>
                        <div class="author-area">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/team2-image2.png" alt="">
                            </div>
                            <div class="author-ifo ml-16 heading2">
                                <h4><a href="javascript:void(0);">Vijai</a></h4>
                                <p class="mt-1">Director</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes2-single-slider">
                        <div class="qoute">
                            <img src="assets/img/icons/qoute2.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="rating-text">(5) Rating</li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>"Their expertise in social media advertising is unmatched. Thanks to their targeted
                                campaigns, our website traffic grew by 75%, and we achieved a 30% conversion rate!"</p>
                        </div>
                        <div class="author-area">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/team2-image3.png" alt="">
                            </div>
                            <div class="author-ifo ml-16 heading2">
                                <h4><a href="javascript:void(0);">Ahmed Khan</a></h4>
                                <p class="mt-1">Director</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes2-single-slider">
                        <div class="qoute">
                            <img src="assets/img/icons/qoute2.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="rating-text">(5) Rating</li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>"We saw a dramatic increase in engagement within the first month of partnering with Perfictus.
                                Their creativity and strategy have truly transformed our online presence!"</p>
                        </div>
                        <div class="author-area">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/team2-image1.png" alt="">
                            </div>
                            <div class="author-ifo ml-16 heading2">
                                <h4><a href="javascript:void(0);">Abinash Bright</a></h4>
                                <p class="mt-1">Director</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes2-single-slider">
                        <div class="qoute">
                            <img src="assets/img/icons/qoute2.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="rating-text">(5) Rating</li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>"The team at Perfictus is phenomenal! They understood our brand’s vision and executed
                                campaigns that not only boosted our followers but also doubled our sales."</p>
                        </div>
                        <div class="author-area">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/team2-image2.png" alt="">
                            </div>
                            <div class="author-ifo ml-16 heading2">
                                <h4><a href="javascript:void(0);">Tanzid Tamim</a></h4>
                                <p class="mt-1">CEO of FreshBites Cafe</p>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes2-single-slider">
                        <div class="qoute">
                            <img src="assets/img/icons/qoute2.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="star"><i class="fa-solid fa-star"></i></li>
                                <li class="rating-text">(5) Rating</li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>"Their expertise in social media advertising is unmatched. Thanks to their targeted
                                campaigns, our website traffic grew by 75%, and we achieved a 30% conversion rate!"</p>
                        </div>
                        <div class="author-area">
                            <div class="author-thumb">
                                <img src="assets/img/testimonial/team2-image3.png" alt="">
                            </div>
                            <div class="author-ifo ml-16 heading2">
                                <h4><a href="javascript:void(0);">Taskin Ahmed</a></h4>
                                <p class="mt-1">Founder of Glow World</p>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>