<div class="brands pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="brads8-heading">
                 <h4>Together with Our Sponsors</h4>
                </div>
            </div>
        </div>
        <div class="row mt-30">
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="800">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo1.png" alt="">
              </div>
           </div>
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="900">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo2.png" alt="">
              </div>
           </div>
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="1200">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo3.png" alt="">
              </div>
           </div>
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="1000">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo4.png" alt="">
              </div>
           </div>
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="900">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo5.png" alt="">
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="800">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo6.png" alt="">
              </div>
           </div>
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="700">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo7.png" alt="">
              </div>
           </div>
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="1100">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo8.png" alt="">
              </div>
           </div>
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="900">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo9.png" alt="">
              </div>
           </div>
           <div class="col-lg col-md-4" data-aos="zoom-out" data-aos-duration="1000">
              <div class="brands8-box">
                 <img src="assets/img/logo/brands8-logo10.png" alt="">
              </div>
           </div>
        </div>
    </div>
</div>