<!-- 
<div class="choose2 sp sec-bg2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="choose2-images mr-40 sm:mr-0 md:mr-0">
                    <div class="image1 image-anime reveal" appGsapReveal>
                        <img src="assets/img/others/choose2-image1.png" alt="">
                    </div>
                    <div class="image2 image-anime reveal" appGsapReveal>
                        <img src="assets/img/others/choose2-image2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 sm:mt-30 md:mt-30">
                <div class="heading2">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span3.svg" alt="">WHY CHOOSE US </span>
                    <h2 class="text-anime-style-3">Your Success, Our Priority</h2>
                    <p class="mt-16" data-aos="fade-right" data-aos-duration="800">Proven track record of boosting engagement and sales. Expert team fluent in the latest trends and technologies. Dedicated account managers ensuring personalized service.</p>

                    <div class="choose2-apps">
                        <div class="row">
                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="200">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/choose-app1.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>12,570+</h4>
                                        <p>Account Boosted</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="300">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/choose-app2.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>350+</h4>
                                        <p>Account Managed</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="350">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/choose-app3.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>5,482+</h4>
                                        <p>Account Optimized</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="400">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/choose-app4.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>5,558+</h4>
                                        <p>Account Grow</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="450">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/choose-app5.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>4,568+</h4>
                                        <p>User Hired</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6" data-aos="fade-up" data-aos-duration="900"  data-aos-delay="500">
                                <div class="choose2-single-apps">
                                    <div class="apps-image">
                                        <img src="assets/img/apps/choose-app6.png" alt="">
                                    </div>
                                    <div class="apps-info">
                                        <h4>9,587+</h4>
                                        <p>Account Promoted</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
   </div>

   <div class="contact-map-page">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d196064.65881483705!2d88.93201515862421!3d24.061083775097945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39febca82f6a21ed%3A0x4040980d7c6874f8!2sKushtia%20District!5e0!3m2!1sen!2sbd!4v1673751720794!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div> -->
