<div class="instagram-feed3 sp sec-bg2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading3">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span4.svg" alt=""> INSTAGRAM POST</span>
                    <h2 class="text-anime-style-3">Perfictus On Instagram</h2>
                </div>
            </div>
        </div>
        <div class="row mt-60" data-aos="fade-up" data-aos-duration="800">
            <owl-carousel-o [options]="instaCarosel" class="istagram-feed3-slider">
                <ng-template carouselSlide>
                    <div class="single-instagram-feed">
                        <div class="image-area">
                            <img src="assets/img/instagram-feed/instagram-feed3-img1.png" alt="">
                            <a href="javascript:void(0);" class="insta-icon"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-feed">
                        <div class="image-area">
                            <img src="assets/img/instagram-feed/instagram-feed3-img2.png" alt="">
                            <a href="javascript:void(0);" class="insta-icon"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-feed">
                        <div class="image-area">
                            <img src="assets/img/instagram-feed/instagram-feed3-img3.png" alt="">
                            <a href="javascript:void(0);" class="insta-icon"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-feed">
                        <div class="image-area">
                            <img src="assets/img/instagram-feed/instagram-feed3-img4.png" alt="">
                            <a href="javascript:void(0);" class="insta-icon"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-feed">
                        <div class="image-area">
                            <img src="assets/img/instagram-feed/instagram-feed3-img5.png" alt="">
                            <a href="javascript:void(0);" class="insta-icon"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-feed">
                        <div class="image-area">
                            <img src="assets/img/instagram-feed/instagram-feed3-img6.png" alt="">
                            <a href="javascript:void(0);" class="insta-icon"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-feed">
                        <div class="image-area">
                            <img src="assets/img/instagram-feed/instagram-feed3-img1.png" alt="">
                            <a href="javascript:void(0);" class="insta-icon"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>