<div class="blog1 sp sec-bg1">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-7">
             <div class="heading1">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> OUR BLOG</span>
                <h2 class="text-anime-style-3">Insights & Updates from the World of SEO Marketing Agency</h2>
             </div>
          </div>
          <div class="col-lg-5">
             <div class="text-end sm:text-start md:text-start md:mt-30 sm::mt-30" data-aos="fade-left" data-aos-duration="800">
                <a routerLink="/contact" class="theme-btn1">Browse All Categories</a>
             </div>
          </div>
       </div>
       <div class="space30"></div>
       <div class="vl-blog-1-item mt-30" data-aos="fade-up" data-aos-duration="1100">
          <div class="row">
             <div class="col-lg-6">
                <div class=" vl-blog-3-thumb image-anime overflow-hidden _relative">
                   <img class="w-full" src="assets/img/blog/blog1-image1.png" alt="">
                </div>
             </div>
             <div class="col-lg-6">
                <div class="vl-blog-1-content heading1">
                   <div class="vl-blog1-meta pb-16">
                      <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                      <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                   </div>
                   <h4><a routerLink="/blog-detail">Transform Your Online Presence with Expert SEO Strategies – Drive Traffic, Conversions & Business Growth with Perfictus.</a></h4>
                   <p class="mt-16">the digital age, simply having a website isn't enough. To stand out in a sea of competition, you need strategic search engine optimization (SEO) that positions your brand.</p>
                   <a routerLink="/blog-detail" class="learn1">Read More <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span></a>
                </div>
             </div>
          </div>
       </div>

       <div class="vl-blog-1-item mt-30" data-aos="fade-up" data-aos-duration="900">
          <div class="row">
             <div class="col-lg-6">
                <div class="vl-blog-1-content heading1">
                   <div class="vl-blog1-meta pb-16">
                      <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                      <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                   </div>
                   <h4><a routerLink="/blog-detail">Maximize Your Business Success with Tailored SEO Solutions – Partner with Perfictus to Optimize Your Digital Growth.</a></h4>
                   <p class="mt-16">Are you ready to unlock the full potential of your business online? With Perfictus, achieving top rankings on search engines has never been easier, We combine innovative SEO techniques.</p>
                   <a routerLink="/blog-detail" class="learn1">Read More <span class="arrow"><i class="fa-regular fa-arrow-right"></i></span></a>
                </div>
             </div>
             <div class="col-lg-6">
                <div class=" vl-blog-3-thumb image-anime overflow-hidden _relative">
                   <img class="w-full" src="assets/img/blog/blog1-image2.png" alt="">
                </div>
             </div>
          </div>
       </div>

    </div>
 </div>