<div class="hero8 bg-cover _relative" style="background-image: url(assets/img/bg/hero8-bg.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="main-heading8">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span3.svg" alt="">SEO Marketing Agency </span>
                    <h1 class="text-anime-style-3">The World-Class SEO & Marketing</h1>
                    <p class="mt-16" data-aos="fade-right" data-aos-duration="800">At Perfictus, we specialize transforming businesses through innovative SEO Digital Marketing strategic In of today’s</p>
                    <div class="hero8-form" data-aos="fade-right" data-aos-duration="1000">
                        <form action="#">
                            <input type="url" placeholder="Website URL">
                            <div class="button">
                                <button type="submit" class="theme-btn14">
                                    Audit Now
                                    <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
              <div class="hero8-images">
                 <div class="image reveal _relative overflow-hidden" appGsapReveal>
                    <img src="assets/img/hero/hero8-main-image.png" alt="">
                 </div>
                 <div class="shape animate3">
                    <img src="assets/img/shapes/hero8-image1.png" alt="">
                 </div>
              </div>
            </div>
        </div>
    </div>
    <img src="assets/img/shapes/hero8-shape.png" alt="" class="sec-shape animate1">
</div>