<div class="cta10">
    <div class="container">
        <div class="cta10-bg">
            <div class="row">
                <div class="col-lg-8 m-auto text-center">
                    <div class="white-heading">
                        <h2>Ready To Elevate Your Startup?</h2>
                        <p class="mt-16">At Perfictus, we help ambitious startups scale faster with powerful SEO strategies,
                            data-driven marketing, and growth-focused solutions. At whether you looking boost
                            visibility, drive lead, dominate industry.</p>
                        <div class="buttons mt-40">
                            <a routerLink="/service" class="theme-btn20" bis_skin_checked="1">
                                Start Growing Today
                                <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                    class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                            <a routerLink="/service" class="theme-btn21 ml-16 md:ml-0 sm:ml-0 sm:mt-20 sm:mr-20"
                                bis_skin_checked="1">
                                Get Started Now
                                <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                    class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>