<div class="service10 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading10">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span10.svg" alt=""> our Innovative Solutions</span>
                    <h2 class="text-anime-style-3">Fueling Startup Growth with Tailored Services</h2>
                </div>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" ata-aos-delay="200">
                <div class="service10-box mt-60">
                    <div class="image">
                        <img src="assets/img/service/service10-image1.png" alt="">
                    </div>
                    <div class="content heading10">
                        <h4><a routerLink="/service-details1">Startup Growth Blueprint</a></h4>
                        <p class="mt-16">We create a customized best roadmap designed to help your startup scale and efficiently from market analysis  growth</p>
                        <a class="learn2" routerLink="/service-details1"><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" ata-aos-delay="500">
                <div class="service10-box mt-60">
                    <div class="image">
                        <img src="assets/img/service/service10-image2.png" alt="">
                    </div>
                    <div class="content heading10">
                        <h4><a routerLink="/service-details1">Launch Scale Accelerator</a></h4>
                        <p class="mt-16">Speed up your startup’s growth with our accelerator program. We help you scale optimize operations, attract investors.</p>
                        <a class="learn2" routerLink="/service-details1"><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" ata-aos-delay="300">
                <div class="service10-box mt-60">
                    <div class="image">
                        <img src="assets/img/service/service10-image3.png" alt="">
                    </div>
                    <div class="content heading10">
                        <h4><a routerLink="/service-details1">Market Entry Masterplan</a></h4>
                        <p class="mt-16">Entering a new market? competitive analysis, positioning strategies, and go-to-market plans that.</p>
                        <a class="learn2" routerLink="/service-details1"><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" ata-aos-delay="400">
                <div class="service10-box mt-60">
                    <div class="image">
                        <img src="assets/img/service/service10-image4.png" alt="">
                    </div>
                    <div class="content heading10">
                        <h4><a routerLink="/service-details1">Growth Catalyst Program</a></h4>
                        <p class="mt-16">Our framework focuses on identifying an growth barriers and implementing best of effective strategies to overcome them. </p>
                        <a class="learn2" routerLink="/service-details1"><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" ata-aos-delay="300">
                <div class="service10-box mt-60">
                    <div class="image">
                        <img src="assets/img/service/service10-image5.png" alt="">
                    </div>
                    <div class="content heading10">
                        <h4><a routerLink="/service-details1">Business Boost Framework</a></h4>
                        <p class="mt-16">We help you create a strong brand identity that resonates with your audiences. From logo design to brand voice development.</p>
                        <a class="learn2" routerLink="/service-details1"><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" ata-aos-delay="300">
                <div class="service10-box mt-60">
                    <div class="image">
                        <img src="assets/img/service/service10-image6.png" alt="">
                    </div>
                    <div class="content heading10">
                        <h4><a routerLink="/service-details1">The Creative Foundry</a></h4>
                        <p class="mt-16">We transform your startup’s vision into stunning designs and compelling content Whether it for web, on your social media.</p>
                        <a class="learn2" routerLink="/service-details1"><span class="arrow-all"><span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
