<div class="hero4" style="background-image: url(assets/img/bg/hero4-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <div class="main-heading4">
                    <h1 class="text-anime-style-3">Transform Your Business with Cutting-Edge Digital Marketing</h1>
                    <p class="mt-16" data-aos="fade-left" data-aos-duration="800">Unlock the power of online growth with tailored strategies designed to elevate your brand. From SEO to social media, that drive traffic, engagement, and sales.</p>
                    <div class="form-area" data-aos="fade-up" data-aos-duration="1100">
                        <form action="#">
                           <div class="single-input">
                              <input type="text" placeholder="Audit Your Website">
                           </div>
                           <div class="button">
                            <button type="submit" class="theme-btn8" >
                                <span class="theme-btn8__shape"></span>
                                <span class="theme-btn8__shape"></span>
                                <span class="theme-btn8__shape"></span>
                                <span class="theme-btn8__shape"></span>
                                <span class="theme-btn8__text">Boost Now</span>
                            </button>
                           </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero4-images">
            <div class="row">
                <div class="col-lg col-md-6">
                    <div class="hero5-image image1 animate4">
                        <img src="assets/img/hero/hero4-image1.png" alt="">
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="hero5-image image2 animate2">
                        <img src="assets/img/hero/hero4-image2.png" alt="">
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="hero5-image image3 animate3">
                        <img src="assets/img/hero/hero4-image3.png" alt="">
                    </div>
                </div>
                <div class="col-lg col-md-6 animate1">
                    <div class="hero5-image image4">
                        <img src="assets/img/hero/hero4-image4.png" alt="">
                    </div>
                </div>
                <div class="col-lg col-md-6">
                    <div class="hero5-image image5 animate3">
                        <img src="assets/img/hero/hero4-image5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>