<div class="choose1 sp">
    <div class="container">
       <div class="row">
          <div class="col-lg-5">
             <div class="heading1">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt="">WHY CHOOSE US </span>
                <h2 class="text-anime-style-3">Why We’re the Right Choice for Your Business</h2>
             </div>
          </div>
          <div class="col-lg-7 text-end sm:text-start md:text-start">
             <div class="button" data-aos="fade-left" data-aos-duration="800">
                <a routerLink="/about" class="theme-btn1 mt-30">Work With Us</a>
             </div>
          </div>
       </div>
       <div class="row mt-30">
          <div class="col-lg-6">
             <div class="choose1-images mt-30">
                <div class="image image-anime reveal" appGsapReveal>
                   <img class="w-full" src="assets/img/others/choose1-image.png" alt="">
                </div>
                <div class="shape animate3">
                   <img src="assets/img/shapes/choose1-shape.png" alt="">
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="choose1-box-all">
                <div class="row">
                   <div class="col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">

                      <div class="choose1-box mt-30">
                         <div class="">
                            <div class="num">
                               <p>1</p>
                            </div>
                         </div>
                         <div class="heading1">
                            <h5><a routerLink="/service-details1">Proven Track Record</a></h5>
                            <p class="mt-12">Hundreds of successful campaigns and satisfied clients.</p>
                         </div>
                      </div>
                   </div>

                   <div class="col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
                      <div class="choose1-box mt-30">
                         <div class="">
                            <div class="num">
                               <p>2</p>
                            </div>
                         </div>
                         <div class="heading1">
                            <h5><a routerLink="/service-details1">Customized Strategies</a></h5>
                            <p class="mt-12">Tailored SEO and marketing plans that align with your unique.</p>
                         </div>
                      </div>
                   </div>

                   <div class="col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
                      <div class="choose1-box mt-30">
                         <div class="">
                            <div class="num">
                               <p>3</p>
                            </div>
                         </div>
                         <div class="heading1">
                            <h5><a routerLink="/service-details1">Expert team</a></h5>
                            <p class="mt-12">Certified professionals with extensive industry experience.</p>
                         </div>
                      </div>
                   </div>

                   <div class="col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
                      <div class="choose1-box mt-30">
                         <div class="">
                            <div class="num">
                               <p>4</p>
                            </div>
                         </div>
                         <div class="heading1">
                            <h5><a routerLink="/service-details1">Transparent Reporting </a></h5>
                            <p class="mt-12">Clear, detailed reports to keep you informed every step of the way.</p>
                         </div>
                      </div>
                   </div>

                </div>
             </div>
          </div>
       </div>
    </div>
 </div>