<div class="shop3-area sp sec-bg2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading3">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span4.svg" alt=""> OUR PRODUCT</span>
                    <h2 class="text-anime-style-3">Our Showcase</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="shop-tab-btn">
                    <ul class="nav nav-pills mb-3" ngbNav #nav="ngbNav" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation" ngbNavItem>
                            <button class="nav-link" id="shop1-tab" ngbNavLink data-bs-toggle="pill"
                                data-bs-target="#shop1" type="button" role="tab" aria-controls="shop1"
                                aria-selected="true">Water Bottles</button>
                            <ng-template ngbNavContent>
                                <div class="tab-pane fade show active" id="shop1" role="tabpanel" aria-labelledby="shop1-tab">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900"
                                            data-aos-delay="200">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image1.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Blue Water Bottle</h6>
                                                    <h3>$15.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900"
                                            data-aos-delay="300">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image2.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Navy Hub Water Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900"
                                            data-aos-delay="400">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image3.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Cyber White Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="900"
                                            data-aos-delay="500">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image4.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Wood Water Bottle</h6>
                                                    <h3>$24.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li class="nav-item" role="presentation" ngbNavItem>
                            <button class="nav-link " id="shop2-tab" data-bs-toggle="pill" ngbNavLink
                                data-bs-target="#shop2" type="button" role="tab" aria-controls="shop2"
                                aria-selected="false">Material Bottle</button>
                            <ng-template ngbNavContent>

                                <div class="tab-pane fade show active" id="shop2" role="tabpanel" aria-labelledby="shop2-tab">

                                    <div class="row">
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image4.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Wood Water Bottle</h6>
                                                    <h3>$24.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image1.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Blue Water Bottle</h6>
                                                    <h3>$15.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image2.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Navy Hub Water Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image3.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Cyber White Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
            
                                </div>
                            </ng-template>
                        </li>
                        <li class="nav-item" role="presentation" ngbNavItem>
                            <button class="nav-link" id="shop3-tab" ngbNavLink data-bs-toggle="pill"
                                data-bs-target="#shop3" type="button" role="tab" aria-controls="shop3"
                                aria-selected="false">Plastic Bottles</button>
                            <ng-template ngbNavContent>
  
                                <div class="tab-pane fade show active" id="shop3" role="tabpanel" aria-labelledby="shop3-tab">

                                    <div class="row">
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image3.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Cyber White Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image4.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Wood Water Bottle</h6>
                                                    <h3>$24.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image1.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Blue Water Bottle</h6>
                                                    <h3>$15.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image2.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Navy Hub Water Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
            
                                </div>
                            </ng-template>
                        </li>
                        <li class="nav-item" role="presentation" ngbNavItem>
                            <button class="nav-link" id="shop4-tab" ngbNavLink data-bs-toggle="pill"
                                data-bs-target="#shop4" type="button" role="tab" aria-controls="shop4"
                                aria-selected="false">Glass Jar</button>
                            <ng-template ngbNavContent>

                                <div class="tab-pane fade show active" id="shop4" role="tabpanel" aria-labelledby="shop4-tab">

                                    <div class="row">
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image2.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Navy Hub Water Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image3.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Cyber White Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image4.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Wood Water Bottle</h6>
                                                    <h3>$24.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image1.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Blue Water Bottle</h6>
                                                    <h3>$15.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
            
                                </div>
                            </ng-template>
                        </li>
                        <li class="nav-item" role="presentation" ngbNavItem>
                            <button class="nav-link" id="shop5-tab" ngbNavLink data-bs-toggle="pill"
                                data-bs-target="#shop5" type="button" role="tab" aria-controls="shop5"
                                aria-selected="false">Plastic
                                Jar</button>
                            <ng-template ngbNavContent>
                                <div class="tab-pane fade show active" id="shop5" role="tabpanel" aria-labelledby="shop5-tab">

                                    <div class="row">
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image2.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Navy Hub Water Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image3.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Cyber White Bottle</h6>
                                                    <h3>$19.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image4.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Wood Water Bottle</h6>
                                                    <h3>$24.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                        <div class="col-lg-3 col-md-6">
                                            <div class="shop3-item mt-40">
                                                <div class="image-area">
                                                    <div class="image">
                                                        <img src="assets/img/shop/shop3-image1.png" alt="">
                                                    </div>
                                                    <div class="button">
                                                        <a class="theme-btn7" routerLink="/contact">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    <h6>Blue Water Bottle</h6>
                                                    <h3>$15.99</h3>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="shop-tab-contents">
                <div class="tab-content" id="pills-tabContent" [ngbNavOutlet]="nav">  
                </div>
            </div>
        </div>
    </div>
</div>