<div class="blog2 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading5">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span5.svg" alt="">OUR BLOG </span>
                    <h2 class="text-anime-style-3">Insights & Trends in Social Media</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="button text-end sm:text-start md:text-start md:mt-30 sm:mt-30" data-aos="fade-left"
                    data-aos-duration="1000">
                    <a class="theme-btn10" routerLink="/blog">See All Blogs <span class="arrow1"><i
                                class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-6">
                <div class="vl-blog-5-item mt-30" data-aos="fade-up" data-aos-duration="900">
                    <div class=" vl-blog-3-thumb image-anime overflow-hidden _relative">
                        <img class="w-full" src="assets/img/blog/blog2-image1.png" alt="">
                    </div>
                    <div class="vl-blog-1-content heading5">
                        <div class="vl-blog1-meta pb-16">
                            <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                            <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                        </div>
                        <h4><a routerLink="/blog-detail">5 Social Media Trends to Watch in 2025</a></h4>
                        <p class="mt-16">Discover the key trends shaping the social media landscape your brand can
                            leverage them stay relevant.</p>
                        <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i
                                    class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="vl-blog-5-item mt-30" data-aos="fade-up" data-aos-duration="900">
                    <div class=" vl-blog-3-thumb image-anime overflow-hidden _relative">
                        <img class="w-full" src="assets/img/blog/blog2-image2.png" alt="">
                    </div>
                    <div class="vl-blog-1-content heading5">
                        <div class="vl-blog1-meta pb-16">
                            <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                            <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                        </div>
                        <h4><a routerLink="/blog-detail">Maximizing ROI with Paid Social Ads</a></h4>
                        <p class="mt-16">Learn how to create high-performing ad campaigns that boost engagement and
                            drive measurable results.</p>
                        <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i
                                    class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>