
<div class="service4 sp sec-bg3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading4">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> OUR SERVICES</span>
                    <h2 class="text-anime-style-3">Our Expertise Your Growth </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-end button md:mt-20 sm:mt-20 md:text-start sm:text-start">
                    <a routerLink="/service" class="theme-btn8" >
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__text">View All Services </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="service4-box mt-30">
                    <div class="icon">
                        <img src="assets/img/icons/service4-icon1.svg" alt="">
                    </div>
                    <div class="heading4 mt-20">
                        <h4><a routerLink="/service-details1">Search Engine Optimization (SEO)</a></h4>
                        <p class="mt-16">Drive organic traffic and improve your online visibility with our advanced SEO techniques.</p>
                        <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="service4-box mt-30">
                    <div class="icon">
                        <img src="assets/img/icons/service4-icon2.svg" alt="">
                    </div>
                    <div class="heading4 mt-20">
                        <h4><a routerLink="/service-details1">Pay-Per-Click Advertising (PPC)</a></h4>
                        <p class="mt-16">Maximize ROI with targeted PPC campaigns designed to convert leads into customers.</p>
                        <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="service4-box mt-30">
                    <div class="icon">
                        <img src="assets/img/icons/service4-icon3.svg" alt="">
                    </div>
                    <div class="heading4 mt-20">
                        <h4><a routerLink="/service-details1">Content Marketing</a></h4>
                        <p class="mt-16">content marketing services encompass everything from blog posts and articles to infographics videos, designed boost.</p>
                        <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="800" data-aos-delay="200">
                <div class="service4-box mt-30">
                    <div class="icon">
                        <img src="assets/img/icons/service4-icon1.svg" alt="">
                    </div>
                    <div class="heading4 mt-20">
                        <h4><a routerLink="/service-details1">Social Media Marketing (SMM)</a></h4>
                        <p class="mt-16">Engage and connect with your audience on social media platforms with our result-driven SMM strategies.Engage grow audience across platforms tailored content strategies.</p>
                        <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="service4-box mt-30">
                    <div class="icon">
                        <img src="assets/img/icons/service4-icon1.svg" alt="">
                    </div>
                    <div class="heading4 mt-20">
                        <h4><a routerLink="/service-details1">Web Design & Development</a></h4>
                        <p class="mt-16">Make a lasting impression with a professionally designed and user-friendly website. Our web design and development Nurture relationships with your audience through personalized </p>
                        <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>