<div class="testimonial sp">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 m-auto text-center">
             <div class="heading6 _mt-50">
                <span class="sub-title">Testimonial</span>
                <h2 class="text-anime-style-3">Trusted by Businesses and Professionals Alike</h2>
             </div>
          </div>
       </div>
       <div class="row mt-30 align-items-center">
          <div class="col-lg-6">
             <div class="tes6-image image-anime reveal mt-30" appGsapReveal>
                <img class="w-full" src="assets/img/testimonial/tes6-image.png" alt="">
             </div>
          </div>
          <div class="col-lg-6">
             <div class="tes6-slider-all mt-30">
                <div class="tes6-slider-content">
                   <ngx-slick-carousel [config]="slickTesti" class="tes6-slider">
                      <div class="tes6-single-slider" ngxSlickItem>
                         <div class="stars">
                            <ul>
                               <li><i class="fa-solid fa-star"></i></li>
                               <li><i class="fa-solid fa-star"></i></li>
                               <li><i class="fa-solid fa-star"></i></li>
                               <li><i class="fa-solid fa-star"></i></li>
                               <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                         </div>
                         <div class="qoute">
                            <img src="assets/img/icons/qoute6.svg" alt="">
                         </div>
                         <p class="content-text">“At Seo, we measure our success by the satisfaction of our clients and candidates. Every placement we make is a testament to our dedication, expertise, & commitment to excellence From helping businesses find the right.”</p>
                         <div class="bottom-area">
                            <div class="author-area">
                               <div class="author-image">
                                  <img src="assets/img/testimonial/team2-image2.png" alt="">
                               </div>
                               <div class="author-text">
                                  <a href="javascript:void(0);">James Reynolds</a>
                                  <p>Marketing Director</p>
                               </div>
                            </div>
                            <div class="google-logo">
                               <img src="assets/img/others/google6.png" alt="">
                            </div>
                         </div>
                      </div>

                      <div class="tes6-single-slider" ngxSlickItem>
                         <div class="stars">
                            <ul>
                               <li><i class="fa-solid fa-star"></i></li>
                               <li><i class="fa-solid fa-star"></i></li>
                               <li><i class="fa-solid fa-star"></i></li>
                               <li><i class="fa-solid fa-star"></i></li>
                               <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                         </div>
                         <div class="qoute">
                            <img src="assets/img/icons/qoute6.svg" alt="">
                         </div>
                         <p class="content-text">“At Seo, we measure our success by the satisfaction of our clients and candidates. Every placement we make is a testament to our dedication, expertise, & commitment to excellence From helping businesses find the right.”</p>
                         <div class="bottom-area">
                            <div class="author-area">
                               <div class="author-image">
                                  <img src="assets/img/testimonial/team2-image2.png" alt="">
                               </div>
                               <div class="author-text">
                                  <a href="javascript:void(0);">James Reynolds</a>
                                  <p>Marketing Director</p>
                               </div>
                            </div>
                            <div class="google-logo">
                               <img src="assets/img/others/google6.png" alt="">
                            </div>
                         </div>
                      </div>

                   </ngx-slick-carousel>
                </div>
                <div class="tes6-slider-btns">
                   <button class="tes6-next-arrow"><i class="fa-regular fa-arrow-left"></i></button>
                   <button class="tes6-prev-arrow"><i class="fa-regular fa-arrow-right"></i></button>
                </div>
             </div>
          </div>
       </div>
    </div>
  </div>