<div class="project6 sp sec-bg6">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-5">
             <div class="heading6-w _mt-50">
                <span class="sub-title">Projects</span>
                <h2 class="text-anime-style-3">Innovative Solutions Our Project Highlights</h2>
             </div>
          </div>
          <div class="col-lg-7">
             <div class="buttons text-end sm:text-start md:text-start sm:mt-20 md:mt-20">
                <a routerLink="/service" class="theme-btn11" bis_skin_checked="1">
                   <span class="theme-btn11__shape"></span>
                   <span class="theme-btn11__shape"></span>
                   <span class="theme-btn11__shape"></span>
                   <span class="theme-btn11__shape"></span>
                   <span class="theme-btn11__text">View All Service </span>
                   <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
               </a>
             </div>
          </div>
       </div>
       <div class="row mt-30">
          <div class="col-lg-4 col-md-6">
             <div class="project6-box mt-30">
                <div class="image">
                   <img class="w-full" src="assets/img/work/project6-image1.png" alt="">
                </div>
                <div class="content-box">
                   <h4><a href="javascript:void(0);">Talent Connect Initiative</a></h4>
                   <p class="mt-10">we take pride in delivering tailored staffing solution that drive success for our clients projects showcase.</p>
                   <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
             </div>

             <div class="project6-box mt-30">
                <div class="image">
                   <img class="w-full" src="assets/img/work/project6-image2.png" alt="">
                </div>
                <div class="content-box">
                   <h4><a href="javascript:void(0);">Talent Connect Initiative</a></h4>
                   <p class="mt-10">we take pride in delivering tailored staffing solution that drive success for our clients projects showcase.</p>
                   <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6">
             <div class="project6-box mt-30">
                <div class="image">
                   <img class="w-full" src="assets/img/work/project6-image3.png" alt="">
                </div>
                <div class="content-box">
                   <h4><a href="javascript:void(0);">Talent Connect Initiative</a></h4>
                   <p class="mt-10">we take pride in delivering tailored staffing solution that drive success for our clients projects showcase.</p>
                   <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
             </div>

             <div class="project6-box mt-30">
                <div class="image">
                   <img class="w-full" src="assets/img/work/project6-image4.png" alt="">
                </div>
                <div class="content-box">
                   <h4><a href="javascript:void(0);">Talent Connect Initiative</a></h4>
                   <p class="mt-10">we take pride in delivering tailored staffing solution that drive success for our clients projects showcase.</p>
                   <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6">
             <div class="project6-box mt-30">
                <div class="image">
                   <img class="w-full" src="assets/img/work/project6-image5.png" alt="">
                </div>
                <div class="content-box">
                   <h4><a href="javascript:void(0);">Talent Connect Initiative</a></h4>
                   <p class="mt-10">we take pride in delivering tailored staffing solution that drive success for our clients projects showcase.</p>
                   <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
             </div>

             <div class="project6-box mt-30">
                <div class="image">
                   <img class="w-full" src="assets/img/work/project6-image6.png" alt="">
                </div>
                <div class="content-box">
                   <h4><a href="javascript:void(0);">Talent Connect Initiative</a></h4>
                   <p class="mt-10">we take pride in delivering tailored staffing solution that drive success for our clients projects showcase.</p>
                   <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
             </div>
          </div>

       </div>
    </div>
  </div>