
<div class="hero9 _relative" style="background-image: url(assets/img/bg/hero9-bg.png);">
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
             <div class="main-heading9">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                      src="assets/img/icons/span9.svg" alt="">Expert Social Media Strategies </span>
                <h1 class="text-anime-style-3">Charge Your Brand With Social Media</h1>
                <p class="mt-16" data-aos="fade-right" data-aos-duration="800">Our expert-driven social media
                   marketing strategies help connect with audiences, increase brand awareness, drive</p>
                <div class="hero9-form" data-aos="fade-right" data-aos-duration="1000">
                   <form action="#">
                      <input type="url" placeholder="Enter Email Address">
                      <div class="button">
                         <button type="submit" class="theme-btn17">
                            <span class="theme-btn17__shape"></span>
                            <span class="theme-btn17__shape"></span>
                            <span class="theme-btn17__shape"></span>
                            <span class="theme-btn17__shape"></span>
                            <span class="theme-btn17__text">Boost My Brand </span>
                            <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                               class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                         </button>
                      </div>
                   </form>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="hero9-images">
                <div class="image1 animate3 overflow-hidden _relative reveal" appGsapReveal>
                   <img src="assets/img/hero/hero9-image1.png" alt="">
                </div>
                <div class="image2 animate1">
                   <img src="assets/img/hero/hero9-image2.png" alt="">
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>