<div class="contact2 sp">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="contact-page-box">
          <div class="icon">
            <img src="assets/img/icons/contact-page-icon1.svg" alt="" />
          </div>
          <div class="content">
            <h3>Email Address</h3>
            <a href="mailto:support&#64;perfictus.com">support&#64;perfictus.com</a>
            <a href="mailto:info&#64;perfictus.com">info&#64;perfictus.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="contact-page-box">
          <div class="icon">
            <img src="assets/img/icons/contact-page-icon2.svg" alt="" />
          </div>
          <div class="content">
            <h3>Phone Number</h3>
            <a href="tel:+123456-7890">+1 (123) 456-7890</a>
            <a href="tel:+123456-7890">+1 (123) 456-7890</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="contact-page-box">
          <div class="icon">
            <img src="assets/img/icons/contact-page-icon3.svg" alt="" />
          </div>
          <div class="content">
            <h3>Office Address</h3>
            <a href="javascript:void(0);">123 Innovation Lane,</a>
            <a href="javascript:void(0);">Digital City, DX 98765</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mt-60">
        <div class="heading2">
          <div class="contact2-form">
            <span
              class="sub-title"
              data-aos="zoom-in-left"
              data-aos-duration="900"
              ><img src="assets/img/icons/span3.svg" alt="" />CONTACT US
            </span>
            <h2 class="text-anime-style-3">Lets Work Together</h2>
            <p class="mt-16" data-aos="fade-right" data-aos-duration="900">
              Ready to take your digital and e-commerce presence to the next level? Let’s work together to create performance-driven strategies that drive engagement, growth, and success for your brand.
            </p>
            <form action="#" data-aos="fade-right" data-aos-duration="1000">
              <div class="row mt-16">
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" placeholder="First Name" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="text" placeholder="Last Name" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="email" placeholder="Email Address" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single-input">
                    <input type="number" placeholder="Phone Number" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-input">
                    <ng-select
                      name="options"
                      [items]="options"
                      bindLabel="name"
                      [(ngModel)]="selectedOption"
                    >
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="single-input">
                    <textarea
                      rows="5"
                      placeholder="How can we help you?"
                    ></textarea>
                  </div>
                  <div class="button mt-30">
                    <button class="theme-btn3" type="submit">
                      Send
                      <span class="arrow1"
                        ><i class="fa-solid fa-arrow-right"></i></span
                      ><span class="arrow2"
                        ><i class="fa-solid fa-arrow-right"></i
                      ></span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="contact2-image mt-60 image-anime reveal ml-40 md:ml-0 sm:ml-0 md:mt-30 sm:mt-30"
          appGsapReveal
        >
          <img
            class="w-full"
            src="assets/img/others/contact2-image.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
