<div class="work6 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-cneter">
              <div class="heading6 _mt-50 text-center">
                 <span class="sub-title">Work Process</span>
                 <h2 class="text-anime-style-3">Our Proven Staffing Process From Search to Success</h2>
              </div>
            </div>
        </div>
        <div class="row mt-30">
           <div class="col-lg-6">
              <div class="image image-anime reveal mt-30" appGsapReveal>
                 <img src="assets/img/work/work6-image.png" alt="">
              </div>
           </div>
           <div class="col-lg-6">
              <div class="work6-items mt-30 ml-40 md:ml-0 sm:ml-0">
                 <div class="work6-single-item">
                    <div class="icon">
                       <div class="point"></div>
                    </div>
                    <div class="text heading6">
                       <h4><a href="javascript:void(0);">Placement and Onboarding Support</a></h4>
                       <p class="mt-16">After you’ve selected your ideal candidate, we assist with the onboarding process to ensure a smooth transition.</p>
                       <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                 </div>

                 <div class="work6-single-item">
                    <div class="icon">
                       <div class="point"></div>
                    </div>
                    <div class="text heading6">
                       <h4><a href="javascript:void(0);">Client and Candidate Matching</a></h4>
                       <p class="mt-16">We go beyond the resume to ensure the perfect match. By aligning the goals of both our clients & candidates.</p>
                       <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                 </div>

                 <div class="work6-single-item">
                    <div class="icon">
                       <div class="point"></div>
                    </div>
                    <div class="text heading6">
                       <h4><a href="javascript:void(0);">Follow-Up and Feedback</a></h4>
                       <p class="mt-16">Our work doesn’t after placement. We maintain ongoing communication to ensure satisfaction for both the client</p>
                       <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                 </div>

                 <div class="work6-single-item">
                    <div class="icon">
                       <div class="point"></div>
                    </div>
                    <div class="text heading6">
                       <h4><a href="javascript:void(0);">Candidate Presentation</a></h4>
                       <p class="mt-16">Once we identify top-tier candidates we present you with a curated shortlist, complete with detailed profiles.</p>
                       <a href="javascript:void(0);" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                 </div>

              </div>
           </div>
        </div>
    </div>
</div>