
<div class="service2 sp sec-bg2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading2">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span3.svg" alt=""> OUR SERVICES </span>
                    <h2 class="text-anime-style-3">Who We Are, What We Do</h2>
                    <p>Transform your business with our specialized digital solutions</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="button text-end sm:text-start md:text-start md:mt-30 sm:mt-30" data-aos="fade-left" data-aos-duration="1000">
                    <a class="theme-btn3" routerLink="/about">View All Services <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>

        <div class="row mt-30">
          <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>1</p>
                   </div>
                </div>
                <div class="heading2 ">
                   <h5><a routerLink="/service">Shopify Development</a></h5>
                   <p class="mt-16">Certified expertise in Shopify Core (Liquid, Theme Customization) and advanced Storefront/GraphQL APIs. We build custom, scalable stores designed for high conversion.</p>
                </div>
             </div>
             
          </div>

          <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>2</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Remote Developer Outsourcing</a></h5>
                   <p class="mt-16">Access our elite pool of developers proficient in Node.js, React.js, and modern tech stacks. We integrate seamlessly into your team to accelerate your product roadmap.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>3</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Graphic Designing</a></h5>
                   <p class="mt-16">Brand-aligned aesthetics that capture attention. From Polaris UI implementation for apps to full-scale brand identity design, we ensure your visual presence is flawless.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>4</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Professional Video Editing</a></h5>
                   <p class="mt-16">High-impact video content tailored for social media, product showcases, and digital ads. We turn raw footage into a compelling brand story.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>5</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Search Engine Optimization (SEO)</a></h5>
                   <p class="mt-16">Technical SEO audits, keyword optimization, and data-driven strategies to ensure your Shopify store ranks where your customers are searching.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>6</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Digital Marketing</a></h5>
                   <p class="mt-16">Full-funnel marketing strategies including social media management and performance marketing. We don't just get clicks; we drive ROI.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-12 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="about-service-box mt-30">
                <div class="">
                   <div class="num">
                      <p>7</p>
                   </div>
                </div>
                <div class="heading2">
                   <h5><a routerLink="/service">Aggregator & Marketplace Expertise</a></h5>
                   <p class="mt-16">We provide end-to-end aggregator setup, onboarding, and negotiation support across GCC, India & worldwide e-commerce markets.</p>
                </div>
             </div>
          </div>

       </div>

        <!-- <div class="row mt-30">
            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4 class="mt-1"><a routerLink="/service-details1">Shopify Development</a></h4>
                            <p class="mt-16">Certified expertise in Shopify Core (Liquid, Theme Customization) and advanced Storefront/GraphQL APIs. We build custom, scalable stores designed for high conversion.</p>
                            <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service-details1">Remote Developer Outsourcing</a></h4>
                            <p class="mt-16">Access our elite pool of developers proficient in Node.js, React.js, and modern tech stacks. We integrate seamlessly into your team to accelerate your product roadmap.</p>
                            <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image3.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service-details1">Graphic Designing</a></h4>
                            <p class="mt-16">Brand-aligned aesthetics that capture attention. From Polaris UI implementation for apps to full-scale brand identity design, we ensure your visual presence is flawless.</p>
                            <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image4.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service-details1">Professional Video Editing</a></h4>
                            <p class="mt-16">High-impact video content tailored for social media, product showcases, and digital ads. We turn raw footage into a compelling brand story.</p>
                            <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image5.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service-details1">Search Engine Optimization (SEO)</a></h4>
                            <p class="mt-16">Technical SEO audits, keyword optimization, and data-driven strategies to ensure your Shopify store ranks where your customers are searching.</p>
                            <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image3.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service-details1">Digital Marketing</a></h4>
                            <p class="mt-16">Full-funnel marketing strategies including social media management and performance marketing. We don't just get clicks; we drive ROI.</p>
                            <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service-details1">Aggregator & Marketplace Expertise</a></h4>
                            <p class="mt-16">We provide end-to-end aggregator setup, onboarding, and negotiation support across GCC, India & worldwide e-commerce markets.</p>
                            <a routerLink="/service-details1" class="learn text-16 leading-16 font-semibold title1">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image2.png" alt="">
                    </div>
                </div>
            </div>

            

        </div> -->
    </div>
   </div>