<div class="blog sp sec-bg1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading2">
                    <h2>More Services</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-6">
                <div class="vl-blog-11-item mt-30" data-aos="fade-up" data-aos-duration="900">
                    <div class=" vl-blog-11-thumb image-anime overflow-hidden _relative">
                        <img class="w-full" src="assets/img/blog/blog-page1-image1.png" alt="">
                    </div>
                    <div class="vl-blog-11-content heading2">
                        <div class="vl-blog11-meta pb-16">
                            <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2025</a>
                            <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> Dustin
                                Turcotte</a>
                        </div>
                        <h4><a routerLink="/blog-detail">Discover the emerging trends that are reshaping the startup
                                ecosystem.</a></h4>
                        <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i
                                    class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="vl-blog-11-item mt-30" data-aos="fade-up" data-aos-duration="900">
                    <div class=" vl-blog-11-thumb image-anime overflow-hidden _relative">
                        <img class="w-full" src="assets/img/blog/blog-page1-image2.png" alt="">
                    </div>
                    <div class="vl-blog-11-content heading2">
                        <div class="vl-blog11-meta pb-20">
                            <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2025</a>
                            <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> Alex Carey</a>
                        </div>
                        <h4><a routerLink="/blog-detail">Learn the secrets to creating a brand that resonates with your
                                audience.</a></h4>
                        <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i
                                    class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                    class="fa-solid fa-arrow-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>