<div class="tes4 sp">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading4">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span1.svg" alt=""> TESTIMONIALS</span>
                    <h2 class="text-anime-style-3">What Our Client Say’s </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-end button md:mt-20 sm:mt-20 md:text-start sm:text-start" data-aos="fade-left"
                    data-aos-duration="800">
                    <a routerLink="/service" class="theme-btn8">
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__text">View All Blogs </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="tes4-slider-all mt-60" data-aos="fade-up" data-aos-delay="300" data-aos-duration="900">
                    <ngx-slick-carousel [config]="configs" class="tes4-slider">
                        <div ngxSlickItem class="tes4-single-slider">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="auhtor_thumb">
                                        <img src="assets/img/testimonial/tes4-author1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="author_text">
                                        <div class="qoute">
                                            <img src="assets/img/icons/qoute4.png" alt="">
                                        </div>
                                        <h5>Perfictus helped us boost our organic traffic by 250% just three months!</h5>
                                        <p class="content">Their insights into SEO and content marketing helped us
                                            secure top rankings for competitive keywords. </p>
                                        <div class="info">
                                            <a href="javascript:void(0);">James Reynolds</a>
                                            <p>Marketing Director</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="tes4-single-slider">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="auhtor_thumb">
                                        <img src="assets/img/testimonial/tes4-author2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="author_text">
                                        <div class="qoute">
                                            <img src="assets/img/icons/qoute4.png" alt="">
                                        </div>
                                        <h5>“Working with Perfictus was the best decision for our brand!"</h5>
                                        <p class="content">Their insights into SEO and content marketing helped us
                                            secure top rankings for competitive keywords. </p>
                                        <div class="info">
                                            <a href="javascript:void(0);">James Reynolds</a>
                                            <p>Marketing Director</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="tes4-single-slider">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="auhtor_thumb">
                                        <img src="assets/img/testimonial/tes4-author3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="author_text">
                                        <div class="qoute">
                                            <img src="assets/img/icons/qoute4.png" alt="">
                                        </div>
                                        <h5>"Thanks to Perfictus, our social media engagement grew by 400%!"</h5>
                                        <p class="content">Their insights into SEO and content marketing helped us
                                            secure top rankings for competitive keywords. </p>
                                        <div class="info">
                                            <a href="javascript:void(0);">James Reynolds</a>
                                            <p>Marketing Director</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>