<div class="growth sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading10">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span10.svg" alt=""> Our Process, Your Growth</span>
                    <h2 class="text-anime-style-3">The Startup Growth Formula</h2>
                </div>
            </div>
        </div>
        <div class="row growth-box-perent mt-30">
            <div class="col-lg-4 col-md-6">
                <div class="growth-box mt-30">
                    <div class="num">1</div>
                    <h4>Strategic Planning</h4>
                    <div class="image mt-30">
                        <img src="assets/img/others/growth-image1.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="growth-box mt-30">
                    <div class="num">2</div>
                    <h4>Data-Driven Insights</h4>
                    <div class="image mt-30">
                        <img src="assets/img/others/growth-image2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="growth-box mt-30">
                    <div class="num">3</div>
                    <h4>Continue Improvement</h4>
                    <div class="image mt-30">
                        <img src="assets/img/others/growth-image3.png" alt="">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   </div>