<div class="tes10 sp">
    <div class="container">
        <div class="row mb-60">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading10">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span10.svg" alt=""> Our Happy Clients</span>
                    <h2 class="text-anime-style-3">Success Stories from Our All Happy Clients</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tes10-slider-all _relative" data-aos="fade-up" data-aos-duration="1000">
                <ngx-slick-carousel [config]="testiConfig" class="tes10-slider">
                    <div ngxSlickItem class="tes10-single-slider">
                        <div class="quote">
                            <img src="assets/img/icons/quote10.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>Perfictus helped scale from an unknown brand to an industry leader. Their SEO strategies,
                                content marketing, digital growth tactics skyrocketed visibility, bringing in more leads
                                than best ever.”</p>
                        </div>
                        <div class="bottom-area">
                            <div class="author-info">
                                <div class="author_thumb">
                                    <img src="assets/img/testimonial/tes10-author1.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Tina Wilkinson</a>
                                    <p class="mt-10">CEO, Wingree Ltd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes10-single-slider">
                        <div class="quote">
                            <img src="assets/img/icons/quote10.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>"As a startup, we struggled to get and traction. Perfictus crafted an custom SEO and digital
                                marketing plan that boosted our organic traffic by 400% in just and few months. Now,
                                we’re ranking key.”</p>
                        </div>
                        <div class="bottom-area">
                            <div class="author-info">
                                <div class="author_thumb">
                                    <img src="assets/img/testimonial/tes10-author1.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Alex Ferguson</a>
                                    <p class="mt-10">CEO, Ranboz Ltd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes10-single-slider">
                        <div class="quote">
                            <img src="assets/img/icons/quote10.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>“Our competitors had been dominating search results, but Perfictus turned the of game around.
                                Within monthly, we are climbed to the top of Google rankings, and our inbound lead
                                doubled startup.</p>
                        </div>
                        <div class="bottom-area">
                            <div class="author-info">
                                <div class="author_thumb">
                                    <img src="assets/img/testimonial/tes10-author3.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Alzari Joseph</a>
                                    <p class="mt-10">CEO, BIGS Ltd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes10-single-slider">
                        <div class="quote">
                            <img src="assets/img/icons/quote10.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>Perfictus helped scale from an unknown brand to an industry leader. Their SEO strategies,
                                content marketing, digital growth tactics skyrocketed visibility, bringing in more leads
                                than best ever.”</p>
                        </div>
                        <div class="bottom-area">
                            <div class="author-info">
                                <div class="author_thumb">
                                    <img src="assets/img/testimonial/tes10-author1.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Tina Wilkinson</a>
                                    <p class="mt-10">CEO, Wingree Ltd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes10-single-slider">
                        <div class="quote">
                            <img src="assets/img/icons/quote10.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>"As a startup, we struggled to get and traction. Perfictus crafted an custom SEO and digital
                                marketing plan that boosted our organic traffic by 400% in just and few months. Now,
                                we’re ranking key.”</p>
                        </div>
                        <div class="bottom-area">
                            <div class="author-info">
                                <div class="author_thumb">
                                    <img src="assets/img/testimonial/tes10-author2.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Alex Ferguson</a>
                                    <p class="mt-10">CEO, Ranboz Ltd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="tes10-single-slider">
                        <div class="quote">
                            <img src="assets/img/icons/quote10.svg" alt="">
                        </div>
                        <div class="stars">
                            <ul>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                                <li><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="content">
                            <p>“Our competitors had been dominating search results, but Perfictus turned the of game around.
                                Within monthly, we are climbed to the top of Google rankings, and our inbound lead
                                doubled startup.</p>
                        </div>
                        <div class="bottom-area">
                            <div class="author-info">
                                <div class="author_thumb">
                                    <img src="assets/img/testimonial/tes10-author3.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Alzari Joseph</a>
                                    <p class="mt-10">CEO, BIGS Ltd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-slick-carousel>

                <div class="tes10-slider-btns">
                    <button class="tes10-next-arrow"><i class="fa-regular fa-angle-left"></i></button>
                    <button class="tes10-prev-arrow"><i class="fa-regular fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>