<div class="brands9">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="brands9-area text-center">
               <h3>Trusted by Leading Brands Worldwide</h3>
               <ngx-slick-carousel [config]="brandConfig" class="brands9-slider mt-50">
                  <div ngxSlickItem class="single-items">
                     <div class="brands9-single">
                        <img src="assets/img/logo/brands8-logo1.png" alt="">
                     </div>
                  </div>

                  <div ngxSlickItem class="single-items">
                     <div class="brands9-single">
                        <img src="assets/img/logo/brands8-logo2.png" alt="">
                     </div>
                  </div>

                  <div ngxSlickItem class="single-items">
                     <div class="brands9-single">
                        <img src="assets/img/logo/brands8-logo3.png" alt="">
                     </div>
                  </div>

                  <div ngxSlickItem class="single-items">
                     <div class="brands9-single">
                        <img src="assets/img/logo/brands8-logo4.png" alt="">
                     </div>
                  </div>

                  <div ngxSlickItem class="single-items">
                     <div class="brands9-single">
                        <img src="assets/img/logo/brands8-logo5.png" alt="">
                     </div>
                  </div>

                  <div ngxSlickItem class="single-items">
                     <div class="brands9-single">
                        <img src="assets/img/logo/brands8-logo6.png" alt="">
                     </div>
                  </div>

               </ngx-slick-carousel>
            </div>
         </div>
      </div>
   </div>
</div>