<div class="paginacontainer">
  <div
    class="progress-wrap"
    [class.active-progress]="isActive"
    (click)="scrollToTop($event)"
  >
    <svg
      class="progress-circle svg-content"
      width="100%"
      height="100%"
      viewBox="-1 -1 102 102"
    >
      <path
        d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
        [attr.stroke-dasharray]="307"
        [attr.stroke-dashoffset]="307 - (progress / 100) * 307"
      />
    </svg>
  </div>
</div>
<!-- DESKTOP WhatsApp -->
<a
  href="https://wa.me/7708621961"
  target="_blank"
  class="whatsapp-icon desktop-wa"
  aria-label="WhatsApp Desktop"
>
  <i class="fab fa-whatsapp"></i>
</a>

<!-- MOBILE WhatsApp -->
<a
  href="https://wa.me/7708621961"
  target="_blank"
  class="whatsapp-icon mobile-wa"
  aria-label="WhatsApp Mobile"
>
  <i class="fab fa-whatsapp"></i>
</a>


<router-outlet />
