
<div class="about-page-choose sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading2">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span3.svg" alt="">Our Corporate Values </span>
                   <h2 class="text-anime-style-3">Empowering Your Business Every Step of the Way</h2>
                   <p class="mt-16">Because we believe true partnerships go beyond delivering solutions. Every business, industry, and ambition is different, and we take the time to understand yours in depth. Our client-first mindset drives tailored strategies, transparent collaboration, and reliable execution, ensuring every step we take together is aligned with your goals and focused on measurable, sustainable growth. </p>
                   <div class="about-choose-box mt-24">
                    <h3>Our Mission</h3>
                    <p class="mt-12">"To empower businesses with scalable, efficient, and future-ready digital solutions that drive measurable growth and operational excellence."</p>
                   </div>

                   <div class="about-choose-box mt-24">
                    <h3>Our Vision</h3>
                    <p class="mt-12">"To become a trusted global partner for e-commerce, digital transformation, and commerce-driven technology across markets."</p>
                   </div>

                   <!-- <div class="button mt-30">
                    <a class="theme-btn3" routerLink="/contact">Contact Us <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                   </div> -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-choose-images ml-50 md:ml-0 sm:ml-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image mt-30 image-anime reveal" appGsapReveal>
                                <img class="w-full" src="assets/img/about/about-choose-sec-image1.png" alt="">
                            </div>
                            <div class="image mt-30 image-anime reveal" appGsapReveal>
                                <img class="w-full" src="assets/img/about/about-choose-sec-image2.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image image-anime reveal md:mt-30 sm:mt-30" appGsapReveal>
                                <img class="w-full" src="assets/img/about/about-choose-sec-image3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
