
<div class="about-page-choose sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading2">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span3.svg" alt="">WHY CHOOSE US </span>
                   <h2 class="text-anime-style-3">Empowering Your Business Every Step of the Way</h2>
                   <p class="mt-16">Because we understand that every industry, business, and goal is unique. Our client-centric approach ensures customized strategies that align with your vision and deliver measurable results. </p>
                   <div class="about-choose-box mt-24">
                    <h3>Our Mission</h3>
                    <p class="mt-12">"To inspire, empower, and transform businesses across industries by delivering innovative, impactful, and results-driven solutions."</p>
                   </div>

                   <div class="about-choose-box mt-24">
                    <h3>Our Vision</h3>
                    <p class="mt-12">"To be the leading agency in creating opportunities, driving growth, and shaping the future for businesses worldwide."</p>
                   </div>

                   <div class="button mt-30">
                    <a class="theme-btn3" routerLink="/contact">Contact Us <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                   </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-choose-images ml-50 md:ml-0 sm:ml-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image mt-30 image-anime reveal" appGsapReveal>
                                <img class="w-full" src="assets/img/about/about-choose-sec-image1.png" alt="">
                            </div>
                            <div class="image mt-30 image-anime reveal" appGsapReveal>
                                <img class="w-full" src="assets/img/about/about-choose-sec-image2.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="image image-anime reveal md:mt-30 sm:mt-30" appGsapReveal>
                                <img class="w-full" src="assets/img/about/about-choose-sec-image3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
