<div class="service5 sp sec-bg4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="heading5">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span5.svg" alt="">OUR SERVICES </span>
                   <h2 class="text-anime-style-3">Fuel Your Growth with Our Expertise</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="button text-end sm:text-start md:text-start md:mt-30 sm:mt-30" data-aos="fade-left" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="200" data-duration="900">
                    <a class="theme-btn10" routerLink="/service">View All Services <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="service5-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image1.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">01</div>
                        <a routerLink="/service-details1" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service-details1">Business Strategy</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                <div class="service5-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image2.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">02</div>
                        <a routerLink="/service-details1" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service-details1">Business Strategy</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="service5-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image3.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">03</div>
                        <a routerLink="/service-details1" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service-details1">Business Strategy</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                <div class="service5-box mt-30">
                    <div class="image">
                        <img src="assets/img/service/service5-image4.png" alt="">
                    </div>
                    <div class="content-area">
                        <div class="num">04</div>
                        <a routerLink="/service-details1" class="arrow"><i class="fa-regular fa-arrow-right"></i></a>
                        <h4><a routerLink="/service-details1">Business Strategy</a></h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>