<div class="service1 sp sp sec-bg1">
    <div class="container">
       <div class="row">
          <div class="col-lg-6">
             <div class="heading1">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> OUR SERVICES </span>
                <h2 class="text-anime-style-3">Results-Driven SEO & Digital Marketing Services</h2>
                <p class="mt-16" data-aos="fade-right" data-aos-duration="900">At Perfictus, we provide tailored SEO and digital marketing solutions designed to boost your online visibility, drive targeted traffic, and maximize conversions. </p>
                <div class="" data-aos="fade-right" data-aos-duration="1000">
                   <a routerLink="/service" class="theme-btn1 mt-30">View All Services</a>
                </div>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="overflow-hidden">
                <div class="service1-image image-anime reveal md:mt-30 sm:mt-30" appGsapReveal>
                   <img src="assets/img/service/service1-image.png" alt="">
                </div>
             </div>
          </div>
       </div>
       <div class="row mt-30">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200">
             <div class="service1-box mt-30">
                <div class="">
                   <div class="num">
                      <p>1</p>
                   </div>
                </div>
                <div class="heading1">
                   <h5><a routerLink="/service-details1">Search Engine Optimization (SEO)</a></h5>
                   <p class="mt-16">Enhance your website’s visibility on search engines with comprehensive SEO strategies including reserarch.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
             <div class="service1-box mt-30">
                <div class="">
                   <div class="num">
                      <p>2</p>
                   </div>
                </div>
                <div class="heading1">
                   <h5><a routerLink="/service-details1">Content Marketing</a></h5>
                   <p class="mt-16">Engage your audience with high-quality, relevant content that drives traffic  fosters customer.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="400">
             <div class="service1-box mt-30">
                <div class="">
                   <div class="num">
                      <p>3</p>
                   </div>
                </div>
                <div class="heading1">
                   <h5><a routerLink="/service-details1">Pay-Per-Click (PPC) Advertising</a></h5>
                   <p class="mt-16">Maximize your ROI with targeted PPC campaigns designed to attract the right audience customers.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
             <div class="service1-box mt-30">
                <div class="">
                   <div class="num">
                      <p>4</p>
                   </div>
                </div>
                <div class="heading1">
                   <h5><a routerLink="/service-details1">Social Media Marketing</a></h5>
                   <p class="mt-16">Build a strong social media presence to connect with your audience, awareness, engagement.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
             <div class="service1-box mt-30">
                <div class="">
                   <div class="num">
                      <p>5</p>
                   </div>
                </div>
                <div class="heading1">
                   <h5><a routerLink="/service-details1">Website Design & Development</a></h5>
                   <p class="mt-16">Create a user-friendly, responsive website that not only looks great but also performs exceptionally.</p>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900" data-aos-delay="500">
             <div class="service1-box mt-30">
                <div class="">
                   <div class="num">
                      <p>6</p>
                   </div>
                </div>
                <div class="heading1">
                   <h5><a routerLink="/service-details1">Analytics & Reporting</a></h5>
                   <p class="mt-16">Gain insights into your digital performance  detailed reporting to inform your strategy & reporting.</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>