
<div class="blog-details-area sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <div class="details-content">
                        <div class="image">
                            <img class="w-full" src="assets/img/service/service-details5-image.png" alt="">
                        </div> 
                    </div>
                 </article>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-area mt-50">
                    <div class="_sidebar-widget _search">
                        <h3>Search</h3>
                        <form action="#" class="_relative">
                            <input type="search" placeholder="Search...">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="_sidebar-widget _list mt-40">
                        <h3>Categories</h3>
                        <div class="sidebar-list">
                            <ul>
                                <li><a routerLink="/service-details1">SEO Marketing <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details2">Social Media Strategy  <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details3">Content Marketing <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details4">Pay-Per-Click Advertising <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details5" class="active">Travel Guide Expertise <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details6">HR Staffing Agency <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details7">Insurance Policy <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details8">Real Estate <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details9">Startup Agency <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="_sidebar-widget _buttons mt-40">
                        <h3>You Still Have A Question</h3>
                        <p class="mt-16">If you cannot find answer to your question our FAQ, you can always contact us. Web will answer you shortly!</p>
                        <div class="buttons mt-16">
                            <a href="mailto:info&#64;perfictus.com" class="sidebar-btn1"><img src="assets/img/icons/sidebar-email.png" alt=""> info&#64;perfictus.com</a>
                            <a href="tel:123-456-7890" class="sidebar-btn2"><img src="assets/img/icons/sidebar-phone.png" alt=""> 123-456-7890</a>
                        </div>
                    </div>
                    
                    <div class="_sidebar-widget _contact mt-40">
                        <h3>Get A Free Quote</h3>
                        <div class="_contact-form mt-10">
                            <form action="#">
                                <input type="text" placeholder="Your Name">
                                <input type="email" placeholder="Email Address">
                                <input type="number" placeholder="Phone Number">
                                <textarea rows="5" placeholder="Your Message"></textarea>
                                
                                <button class="theme-btn3 mt-20" type="submit">Send <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-details-content ml-30 md:ml-0 sm:ml-0 mt-50">
                  <article>
                     <div class="details-content">
                         <div class="heading2 mt-24">
                             <h3>Expert Travel Guides for Unforgettable Journeys </h3>
                             <p class=" mt-16">We provide expert travel guidance to help you explore the world with confidence. Our experienced travel experts curate personalized itineraries, offer insightful recommendations, and ensure a hassle-free travel experience tailored to your preferences. Whether you're looking for adventure, cultural exploration, or luxury getaways, our travel guides equip you with essential information, from must-visit destinations to local tips and safety advice. With a deep understanding of global travel trends and insider knowledge, we help travelers make the most of their journeys, ensuring every trip is enriching, seamless, and unforgettable.</p>
                         </div>

                         <div class="heading2 mt-40">
                            <h3>What we Offer </h3>
                         </div>
                         <div class="row pt-10">
                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Personalized Itineraries</a></h4>
                                    <p class="mt-12">Tailored travel plans that match your interests and preferences.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Destination Insights</a></h4>
                                    <p class="mt-12">In-depth information about  attractions, local experiences, and must-visit spots.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Social Media Advertising</a></h4>
                                    <p class="mt-12">Leverage platforms like Facebook, Instagram, LinkedIn, and Twitter to reach your ideal audience.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Cultural & Safety Tips</a></h4>
                                    <p class="mt-12">Essential guidelines to help you navigate different cultures and travel safely.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Local Dining & Activities</a></h4>
                                    <p class="mt-12">Discover the best restaurants, nightlife, and adventure opportunities.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Visa & Travel Documentation </a></h4>
                                    <p class="mt-12"> Guidance on visa applications, travel insurance, and essential paperwork.</p>
                                </div>
                            </div>

                         </div>
                         
                     </div>
                  </article>

                  <article>
                     <div class="details-content mt-40">
                         <div class="heading2">
                             <h3>Why Choose Perfictus for Travel Guidance?</h3>
                             <p class=" mt-16">Our travel specialists offer in-depth knowledge of destinations worldwide. Every itinerary is customized to suit your interests and travel style. We go beyond tourist hotspots to bring you authentic experiences. From flights to accommodations, we help organize every aspect of your trip. Travel with confidence knowing expert help is just a call away. </p>
                         </div>

                         <div class="heading2 mt-40">
                           <h3>Our Travel Guide  Process</h3>
                           <p class=" mt-16">we make travel planning effortless and enriching with our expert travel guidance. Whether you're seeking an adventurous getaway, a cultural exploration, or a relaxing retreat, our travel specialists provide personalized itineraries, essential travel tips, and local insights to enhance your journey. We help you discover hidden gems, navigate different cultures, and ensure a hassle-free experience from start to finish. With a focus on seamless planning, safety, and unique experiences, we turn your travel dreams into reality, allowing you to explore with confidence and make unforgettable memories.</p>
                        </div>
                         

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Campaign Strategy Development</a></h4>
                                <p class="mt-2">We start by researching your business goals, target audience, and competitors.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Crafting the Perfect Itinerary</a></h4>
                                <p class="mt-2">Our experts design an itinerary with must-visit landmarks, hidden gems, and local favorites, ensuring a well-balanced trip.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Providing Essential Travel Tips</a></h4>
                                <p class="mt-2">From cultural etiquette to packing checklists, we equip you with insights to enhance your travel experience.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Ongoing Support & Recommendations</a></h4>
                                <p class="mt-2">Even during your trip, we provide real-time support and updates to make your journey hassle-free.</p>
                            </div>
                         </div>

                         <div class="row">
                            <div class="col-md-6">
                               <div class="image mt-40">
                                  <img class="w-full" src="assets/img/blog/blog-details-image2.png" alt="">
                              </div>
                            </div>
                            <div class="col-md-6">
                               <div class="image mt-40">
                                  <img class="w-full" src="assets/img/blog/blog-details-image3.png" alt="">
                              </div>
                            </div>
                          </div>

                     </div>
                  </article>

                  <div class="details-border"></div>

                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon1.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">SEO Optimization </a></h4>
                                <p class="mt-10">Drive organic traffic and improve your online visibility </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center sm:mt-30">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon2.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">PPC Advertising </a></h4>
                                <p class="mt-10">Maximize ROI with targeted PPC campaigns designed </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center md:mt-30 sm:mt-30">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon3.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">Content Marketing </a></h4>
                                <p class="mt-10">content marketing services encompass everything  </p>
                            </div>
                        </div>
                    </div>

                  </div>

                  <div class="details-border"></div>

                </div>
            </div>
        </div>
    </div>
   </div>
