<div class="hero6" style="background-image: url(assets/img/hero/hero6-bg.jpg);">
    <div class="container">
     <div class="row">
        <div class="col-lg-6">
           <div class="main-heading6">
              <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span3.svg" alt="">Perfictus STARTUP AGENCY </span>
              <h1>Strata Recruitment for Lasting Impact</h1>
              <p class="mt-16">At Perfictus we specialize in connecting top-tier talent with forward-thinking companies, driving growth & success across industries.</p>
              <div class="buttons">
                 <a routerLink="/about" class="theme-btn11" bis_skin_checked="1">
                    <span class="theme-btn11__shape"></span>
                    <span class="theme-btn11__shape"></span>
                    <span class="theme-btn11__shape"></span>
                    <span class="theme-btn11__shape"></span>
                    <span class="theme-btn11__text">Get Started Today </span>
                    <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                </a>
                  <div class="video-buttton6 play-btn" href="https://www.youtube.com/watch?v=Y8XpQpW5OVY" appMagnificPopup>
                      <a id="play-video" class="video-play-button">
                          <span></span>
                      </a>
                        <p>Play Video</p>
                  </div>
              </div>

          </div>
        </div>
     </div>
    </div>
    <div class="hero6-bottom-slider">
        <section class="hero10-benar">
            <div class="container-fluid p-0">
              <div class="row">
                <div class="col-12">
                  <div class="marquee-wrap">
                    <div class="marquee-text">
    
                    <div class="brand-single-box">
                       <img src="assets/img/others/hero6-slider-logo1.png" alt="">
                    </div>
                    <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo2.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo3.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo4.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo5.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo6.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo7.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo8.png" alt="">
                     </div>
                     <div class="brand-single-box">
                       <img src="assets/img/others/hero6-slider-logo1.png" alt="">
                    </div>
                    <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo2.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo3.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo4.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo5.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo6.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo7.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo8.png" alt="">
                     </div>
                     <div class="brand-single-box">
                       <img src="assets/img/others/hero6-slider-logo1.png" alt="">
                    </div>
                    <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo2.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo3.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo4.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo5.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo6.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo7.png" alt="">
                     </div>
                     <div class="brand-single-box">
                        <img src="assets/img/others/hero6-slider-logo8.png" alt="">
                     </div>
    
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="slider-after"></div>
            </div>
          </section> 
    </div>
</div>