<div class="blog9 sp bg-cover" style="background-image: url(assets/img/bg/sec-bg9.jpg);">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 m-auto text-center">
             <div class="heading9">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                      src="assets/img/icons/span9.svg" alt=""> Insights from Our Experts</span>
                <h2 class="text-anime-style-3">Stay Updated with Perfictus Blog</h2>
             </div>
          </div>
       </div>
       <div class="row mt-30">
          <div class="col-lg-12">
             <div class="vl-blog-9-item mt-30" data-aos="fade-up" data-aos-duration="1100">
                <div class="row align-items-center">
                   <div class="col-lg-6">
                      <div class="vl-blog-9-thumb image-anime overflow-hidden _relative">
                         <img class="w-full" src="assets/img/blog/blog9-image.png" alt="">
                      </div>
                   </div>
                   <div class="col-lg-6">
                      <div class="vl-blog-9-content heading9">
                         <div class="vl-blog9-meta pb-16">
                            <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                            <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                         </div>
                         <h4><a routerLink="/blog-detail">Facebook vs. Instagram Ads: Which Platform Is Right for
                               Your Business?</a></h4>
                         <p class="mt-16">When it comes to social media advertising, both Facebook and Instagram
                            offer powerful platforms for reaching new.</p>
                         <a routerLink="/blog-detail" class="theme-btn18 mt-24">
                            <span class="theme-btn18__shape"></span>
                            <span class="theme-btn18__shape"></span>
                            <span class="theme-btn18__shape"></span>
                            <span class="theme-btn18__shape"></span>
                            <span class="theme-btn18__text">Read More </span>
                            <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                               class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
             <div class="vl-blog-9-item mt-40 hover-effect">
                <div class="vl-blog-9-content heading9">
                   <div class="vl-blog9-meta pb-16">
                      <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                      <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                   </div>
                   <h5><a routerLink="/blog-detail">How to Use Video Content Drive Engagementing on Social
                         Marketing</a></h5>
                   <p class="mt-12">If your goal is broad brand awareness with highly targeted audience on
                      segmentation.</p>
                   <a routerLink="/blog-detail" class="theme-btn18 mt-24">
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__text">Read More </span>
                      <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                            class="fa-solid fa-arrow-right"></i></span>
                   </a>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
             <div class="vl-blog-9-item mt-40 hover-effect">
                <div class="vl-blog-9-content heading9">
                   <div class="vl-blog9-meta pb-16">
                      <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                      <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                   </div>
                   <h5><a routerLink="/blog-detail">Why Social Media Marketing Is Essential Your Business Growth</a>
                   </h5>
                   <p class="mt-12">When deciding between Facebook Ads Instagram Ads, it's crucial understand.</p>
                   <a routerLink="/blog-detail" class="theme-btn18 mt-24">
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__text">Read More </span>
                      <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                            class="fa-solid fa-arrow-right"></i></span>
                   </a>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
             <div class="vl-blog-9-item mt-40 hover-effect">
                <div class="vl-blog-9-content heading9">
                   <div class="vl-blog9-meta pb-16">
                      <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 12/12/2024</a>
                      <a href="javascript:void(0);" class="author"><img src="assets/img/icons/author1.svg" alt=""> John Doe</a>
                   </div>
                   <h5><a routerLink="/blog-detail">How to Use Video Content Drive Engagement The Social
                         Marketing</a></h5>
                   <p class="mt-12">Facebook's detailed targeting options the enable you to tailor your social ad
                      based. </p>
                   <a routerLink="/blog-detail" class="theme-btn18 mt-24">
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__shape"></span>
                      <span class="theme-btn18__text">Read More </span>
                      <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                            class="fa-solid fa-arrow-right"></i></span>
                   </a>
                </div>
             </div>
          </div>

       </div>
    </div>
 </div>