<div class="service2 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service">Social Media Strategy Development</a></h4>
                            <p class="mt-16">We analyze your business goals and audience to develop a personalized
                                social media strategy.</p>
                            <a routerLink="/service" class="learn text-16 leading-16 font-semibold title1">Read
                                More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                    class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image2.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service">Content Creation & Management</a></h4>
                            <p class="mt-16">Stand out with visually stunning and impactful content tailored for each
                                platform.</p>
                            <a routerLink="/service" class="learn text-16 leading-16 font-semibold title1">Read
                                More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                    class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image3.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service">Paid Social Advertising</a></h4>
                            <p class="mt-16">We create high-converting campaigns that reach your ideal audience, driving
                                traffic, engagement, and sales.</p>
                            <a routerLink="/service" class="learn text-16 leading-16 font-semibold title1">Read
                                More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                    class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image4.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30 content-box">
                    <div class="with-content">
                        <div class="heading2">
                            <h4><a routerLink="/service">Social Media Analytics & Reporting</a></h4>
                            <p class="mt-16">provide regular performance reports, allowing us to refine strategies &
                                keep your campaigns on track for success.</p>
                            <a routerLink="/service" class="learn text-16 leading-16 font-semibold title1">Read
                                More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                    class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service2-box mt-30">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/service/service2-image5.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>