<div class="blog-details-area sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <div class="details-content">
                        <div class="image">
                            <img class="w-full" src="assets/img/service/service-details9-image.png" alt="">
                        </div> 
                    </div>
                 </article>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-area mt-50">
                    <div class="_sidebar-widget _search">
                        <h3>Search</h3>
                        <form action="#" class="_relative">
                            <input type="search" placeholder="Search...">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="_sidebar-widget _list mt-40">
                        <h3>Categories</h3>
                        <div class="sidebar-list">
                            <ul>
                                <li><a routerLink="/service-details1">SEO Marketing <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details2">Social Media Strategy  <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details3">Content Marketing <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details4">Pay-Per-Click Advertising <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details5">Travel Guide Expertise <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details6">HR Staffing Agency <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details7">Insurance Policy <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details8">Real Estate <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details9" class="active">Startup Agency <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="_sidebar-widget _buttons mt-40">
                        <h3>You Still Have A Question</h3>
                        <p class="mt-16">If you cannot find answer to your question our FAQ, you can always contact us. Web will answer you shortly!</p>
                        <div class="buttons mt-16">
                            <a href="mailto:info&#64;perfictus.com" class="sidebar-btn1"><img src="assets/img/icons/sidebar-email.png" alt=""> info&#64;perfictus.com</a>
                            <a href="tel:123-456-7890" class="sidebar-btn2"><img src="assets/img/icons/sidebar-phone.png" alt=""> 123-456-7890</a>
                        </div>
                    </div>
                    
                    <div class="_sidebar-widget _contact mt-40">
                        <h3>Get A Free Quote</h3>
                        <div class="_contact-form mt-10">
                            <form action="#">
                                <input type="text" placeholder="Your Name">
                                <input type="email" placeholder="Email Address">
                                <input type="number" placeholder="Phone Number">
                                <textarea rows="5" placeholder="Your Message"></textarea>
                                
                                <button class="theme-btn3 mt-20" type="submit">Send <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-details-content ml-30 md:ml-0 sm:ml-0 mt-50">
                  <article>
                     <div class="details-content">
                         <div class="heading2 mt-24">
                             <h3>Empowering Entrepreneurs to Build, Scale & Succeed</h3>
                             <p class=" mt-16">We provide tailored startup agency services to help emerging businesses turn their ideas into thriving ventures. From branding and marketing to funding and operational strategies, we equip startups with the tools and expertise they need to launch, grow, and scale successfully. Whether you’re an early-stage entrepreneur or an established startup looking to expand, our team offers customized solutions to drive sustainable success.</p>
                         </div>

                         <div class="heading2 mt-40">
                            <h3>What we Offer </h3>
                         </div>
                         <div class="row pt-10">
                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Business Strategy & Planning</a></h4>
                                    <p class="mt-12">Define your vision, market positioning, and roadmap for success.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Brand Identity & Design </a></h4>
                                    <p class="mt-12">Create a powerful brand with expert logo design, messaging,  visual identity.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Digital Marketing & Growth Hacking</a></h4>
                                    <p class="mt-12">Implement data-driven strategies to attract and retain customers.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Funding & Investment Assistance</a></h4>
                                    <p class="mt-12">Connect with investors, pitch your ideas, and secure capital.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Product Development & Innovation</a></h4>
                                    <p class="mt-12">Turn your ideas into scalable, market-ready solutions.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Legal & Compliance Support</a></h4>
                                    <p class="mt-12">Ensure your startup meets regulatory requirements and legal standards.</p>
                                </div>
                            </div>

                         </div>
                         
                     </div>
                  </article>

                  <article>
                     <div class="details-content mt-40">
                         <div class="heading2">
                             <h3>Why Choose Perfictus for Real Estate?</h3>
                             <p class=" mt-16">Access a wide range of residential and commercial properties. We analyze trends to help you make profitable real estate decisions. Whether buying, selling, or investing, we tailor solutions to your needs. Get the best investment deals for long-term financial growth. We handle everything from documentation to closing deals. </p>
                         </div>

                         <div class="heading2 mt-40">
                           <h3>Find Your Ideal Property Today!</h3>
                           <p class=" mt-16">At Perfictus, we make real estate simple and stress-free. Whether you're looking for a dream home, a commercial property, or a high-yield investment, our expert team is here to help you every step of the way.</p>
                        </div>
                         
                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Understanding Your Real Estate Goals</a></h4>
                                <p class="mt-2">We take the time to learn about your requirements, budget, and location preferences to tailor our search.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Property Search & Market Analysis</a></h4>
                                <p class="mt-2">We provide access to top listings and in-depth market insights to help you make informed decisions.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Negotiation & Deal Finalization</a></h4>
                                <p class="mt-2">Our experts handle negotiations, paperwork, and contracts to ensure smooth transactions.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Post-Sale Support & Property Management</a></h4>
                                <p class="mt-2">We offer ongoing support, from legal assistance to rental and maintenance services.</p>
                            </div>
                         </div>

                         <div class="row">
                            <div class="col-md-6">
                               <div class="image mt-40">
                                  <img class="w-full" src="assets/img/blog/blog-details-image2.png" alt="">
                              </div>
                            </div>
                            <div class="col-md-6">
                               <div class="image mt-40">
                                  <img class="w-full" src="assets/img/blog/blog-details-image3.png" alt="">
                              </div>
                            </div>
                          </div>

                     </div>
                  </article>

                  <div class="details-border"></div>

                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon1.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">SEO Optimization </a></h4>
                                <p class="mt-10">Drive organic traffic and improve your online visibility </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center sm:mt-30">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon2.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">PPC Advertising </a></h4>
                                <p class="mt-10">Maximize ROI with targeted PPC campaigns designed </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center md:mt-30 sm:mt-30">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon3.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">Content Marketing </a></h4>
                                <p class="mt-10">content marketing services encompass everything  </p>
                            </div>
                        </div>
                    </div>

                  </div>

                  <div class="details-border"></div>

                </div>
            </div>
        </div>
    </div>
   </div>