<div class="hero5" style="background-image: url(assets/img/bg/hero5-bg.jpg);">
    <div class="hero5-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="main-heading5">
                        <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                                src="assets/img/icons/span3.svg" alt="">Perfictus STARTUP AGENCY </span>
                        <h1><span class="unic-text1">Empowering <img src="assets/img/shapes/hero5-title-shape.png"
                                    alt=""></span> <span class="unic-text2">Startups</span> to Scale Beyond Limits</h1>
                        <div class="buttons">
                            <a class="theme-btn10" routerLink="/contact">Get Started Now <span class="arrow1"><i
                                        class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i
                                        class="fa-solid fa-arrow-right"></i></span></a>
                            <div class="video-buttton4 play-btn" href="https://www.youtube.com/watch?v=Y8XpQpW5OVY"
                                appMagnificPopup>
                                <a id="play-video" class="video-play-button">
                                    <span></span>
                                </a>
                                <p>Play Video</p>
                            </div>
                        </div>

                        <div class="reviews-area">
                            <div class="review-image">
                                <img src="assets/img/hero/hero5-reviews-img.png" alt="">
                            </div>
                            <div class="review-text">
                                <ul>
                                    <li class="star"><i class="fa-solid fa-star"></i></li>
                                    <li class="star"><i class="fa-solid fa-star"></i></li>
                                    <li class="star"><i class="fa-solid fa-star"></i></li>
                                    <li class="star"><i class="fa-solid fa-star"></i></li>
                                    <li class="star"><i class="fa-solid fa-star"></i></li>
                                    <li class="text">5.0</li>
                                </ul>
                                <p>Rated Best Over <b>15.7k</b> Reviews</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 _relative">
                    <div class="hero5-images">
                        <div class="shape1 animate3">
                            <img src="assets/img/shapes/hero5-shape1.png" alt="">
                        </div>
                        <div class="shape2 animate1">
                            <img src="assets/img/shapes/hero5-shape2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>