<div class="faq10 sp bg-cover" style="background-image: url(assets/img/bg/sec-bg10.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto text-center">
        <div class="heading10">
          <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span10.svg"
              alt=""> Our Process, Your Growth</span>
          <h2 class="text-anime-style-3">The Startup Growth Formula</h2>
        </div>
      </div>
    </div>
    <div class="row mt-30 align-items-center">
      <div class="col-md-6">
        <div class="faq-content mt-30" data-aos="fade-right" data-aos-duration="800">
          <div class="accordion accordion1" ngbAccordion [closeOthers]="true" id="accordionExample">
            <div class="accordion-item active" ngbAccordionItem [collapsed]="false"  [class.active]="activePanel === 'panel-0'"
            (shown)="onPanelShown('panel-0')">
              <h2 class="accordion-header" id="headingOne" ngbAccordionHeader>
                <button class="accordion-button" type="button" ngbAccordionButton data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Discovery Planning Strategy
                </button>
              </h2>
              <div id="collapseOne" ngbAccordionCollapse class="accordion-collapse collapse show"
                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" ngbAccordionBody>
                  Once we have a clear strategy, we create a detailed roadmap. This outlines project timelines, key the
                  milestones, an the best approach to ensure every step drives measurable and results
                </div>
              </div>
            </div>
            <div class="accordion-item" ngbAccordionItem  [class.active]="activePanel === 'panel-1'"
            (shown)="onPanelShown('panel-1')">
              <h2 class="accordion-header" id="headingTwo" ngbAccordionHeader>
                <button class="accordion-button collapsed" type="button" ngbAccordionButton data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Planning On Roadmapping
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" ngbAccordionCollapse
                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body" ngbAccordionBody>
                  Once we have a clear strategy, we create a detailed roadmap. This outlines project timelines, key the
                  milestones, an the best approach to ensure every step drives measurable and results
                </div>
              </div>
            </div>
            <div class="accordion-item" ngbAccordionItem  [class.active]="activePanel === 'panel-2'"
            (shown)="onPanelShown('panel-2')">
              <h2 class="accordion-header" id="headingThree" ngbAccordionHeader>
                <button class="accordion-button collapsed" type="button" ngbAccordionButton data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Execution Implementation
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" ngbAccordionCollapse
                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body" ngbAccordionBody>
                  Once we have a clear strategy, we create a detailed roadmap. This outlines project timelines, key the
                  milestones, an the best approach to ensure every step drives measurable and results
                </div>
              </div>
            </div>

            <div class="accordion-item" ngbAccordionItem  [class.active]="activePanel === 'panel-3'"
            (shown)="onPanelShown('panel-3')">
              <h2 class="accordion-header" ngbAccordionHeader id="headingFour">
                <button class="accordion-button collapsed" ngbAccordionButton type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Ongoing Support Partnership
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" ngbAccordionCollapse
                aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body" ngbAccordionBody>
                  Once we have a clear strategy, we create a detailed roadmap. This outlines project timelines, key the
                  milestones, an the best approach to ensure every step drives measurable and results
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="faq10-image mt-30 ml-60 sm:ml-0 md:md-0" data-aos="fade-right" data-aos-duration="1000">
          <img src="assets/img/others/faq10-image.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>