<div class="about1 sp">
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <div class="heading1">
               <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> ABOUT US</span>
               <h2 class="text-anime-style-3">The Results Speak for Themselves</h2>
               <p class="mt-16" data-aos="fade-right" data-aos-duration="900">We’re not just an SEO agency — we’re your partner in achieving measurable growth. With our tailored strategies and cutting-edge tools, we’ve built a legacy of success.</p>
            </div>
         </div>
         <div class="col-lg-8 text-end sm:text-start md:text-start md:mt-30 sm:mt-30">
            <div class="button" data-aos="fade-left" data-aos-duration="1000">
               <a routerLink="/about" class="theme-btn1">Work With Us</a>
            </div>
         </div>
      </div>
      <div class="row mt-30 align-items-end about1-boxs-all">
         <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
            <div class="about1-box box1 white-heading mt-30">
               <div class="top-heading">
                  <h5>Clients Served Worldwide</h5>
                  <p class="mt-16">Partnering with businesses across the globe to achieve outstanding results.</p>
               </div>
               <div class="bottom-heading">
                  <h3><span class="counter">500</span> +</h3>
               </div>
            </div>
         </div>
         

         <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="about1-box box2 white-heading mt-30">
               <div class="top-heading">
                  <h5>Projects Successfully Completed</h5>
                  <p class="mt-16">Delivering customized campaigns that drive traffic and boost conversions.</p>
               </div>
               <div class="bottom-heading">
                  <h3><span class="counter">700</span> +</h3>
               </div>
            </div>
         </div>

         <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="about1-box box3 white-heading mt-30">
               <div class="top-heading">
                  <h5>Revenue Generated for Clients</h5>
                  <p class="mt-16">Partnering with businesses across the globe to achieve outstanding results.</p>
               </div>
               <div class="bottom-heading">
                  <h3>$<span class="counter">200</span>M+</h3>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>