<div class="hero2" style="background-image: url(assets/img/bg/hero2-bg.jpg);">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 m-auto text-center">
              <div class="main-heading2">
                  <h1 class="text-anime-style-3">Elevate Your Brand with Social Media Excellence</h1>
                  <p class="mt-16">we help your brand stand out and thrive. Our expert social media marketing strategies are designed to boost engagement, drive traffic, and turn followers into loyal customers.</p>
                  <div class="buttons">
                      <a class="theme-btn3" routerLink="/contact">Get Started Now <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                      <a class="theme-btn4" routerLink="/about">Learn More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                  </div>
              </div>

              <div class="images-all text-center _relative">
                  <div class="image1">
                      <img src="assets/img/hero/hero2-main-image.png" alt="">
                  </div>
                  <div class="apps-image">
                      <img src="assets/img/hero/hero2-apps.png" alt="">
                  </div>
              </div>
          </div>
          <div class="col-lg-12 _relative">
              <div class="hero2-shapes">
                  <div class="sec-shape1 animate2">
                      <img src="assets/img/shapes/hero2-shape1.png" alt="">
                  </div>
                  <div class="sec-shape2 animate3">
                      <img src="assets/img/shapes/hero2-shape2.png" alt="">
                  </div>
                  <div class="sec-shape3 animate1">
                      <img src="assets/img/shapes/hero2-shape3.png" alt="">
                  </div>
                  <div class="sec-shape4 animate2">
                      <img src="assets/img/shapes/hero2-shape4.png" alt="">
                  </div>
              </div>
          </div>
      </div>
    </div>
 </div>