<footer class="vl-footer-area1" style="background-image: url(assets/img/bg/footer1-bg.jpg);">

    <!-- cta area start -->
    <div class="cta1">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 m-auto text-center">
                <div class="white-heading">
                   <h2>Ready To Grow Your Business With Perfictus</h2>
                   <p class="mt-16">Let us help you unlock your business's full potential. With tailored SEO strategies and proven digital marketing techniques, we’ll drive traffic, improve conversions, and elevate your brand online. Don’t wait—success starts today!</p>
                   <div class="cta1-form">
                      <input type="email" placeholder="Enter Your Email">
                      <div class="button">
                         <button type="submit" class="theme-btn1">
                            Subscribe
                         </button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- cta area end -->
 
    <!-- footer area start -->
    <div class="footer-bottom-content">
       <div class="container">
          <div class="row">
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="vl-footer-widget-white vl-footer1-logo-area mr-50 mb-50">
                   <div class="vl-footer-logo black-logo">
                      <a routerLink="/"><img src="assets/img/logo/white-logo.png" alt=""></a>
                   </div>
                   <div class="vl-footer-text white-heading mt-16">
                      <p class="mt-16">Perfictus is a results-driven SEO and digital marketing agency dedicated to helping businesses thrive in the digital landscape. </p>
                   </div>
                   <div class="vl-footer-social1 text-start mt-20">
                      <a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
                      <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                      <a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a>
                      <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                   </div>
                </div>
             </div>
             <div class="col-lg-2  col-md-6 col-6">
                <div class="vl-footer-widget-white mb-50 ml-20 md:ml-30 sm:ml-0">
                   <h4>Quick Links</h4>
                   <div class="vl-footer-list">
                      <ul>
                         <li><a routerLink="/">Home</a></li>
                         <li><a routerLink="/about">About Us</a></li>
                         <li><a routerLink="/domain">Services</a></li>
                         <li><a routerLink="/blog">Blog</a></li>
                         <li><a routerLink="/contact">Contact Us</a></li>
                         <li><a routerLink="/testimonial">Testimonails</a></li>
                      </ul>
                   </div>
                </div>
             </div>
 
             <div class="col-lg-3 col-md-4 col-6">
                <div class="vl-footer-widget-white mb-50 ml-70 md:ml-0 sm:ml-0">
                   <h4>Category List</h4>
                   <div class="vl-footer-list">
                      <ul>
                         <li><a href="javascript:void(0);">Digital Marketing</a></li>
                         <li><a href="javascript:void(0);">SEO Marketing</a></li>
                         <li><a href="javascript:void(0);">Startup Agency</a></li>
                         <li><a href="javascript:void(0);">Advertising Agency</a></li>
                         <li><a href="javascript:void(0);">Social Media Agency</a></li>
                         <li><a href="javascript:void(0);">Web Design Agency</a></li>
                      </ul>
                   </div>
                </div>
             </div>
 
             <div class="col-lg-3 col-md-8 col-sm-6">
                <div class="vl-footer-contact1 vl-footer-widget-white mb-50 sm:ml-0 md:ml-0">
                   <h4>Contact Information</h4>
                   <div class="single-contact-item">
                      <div class="icon">
                         <img src="assets/img/icons/footer-contact-icon1.svg" alt="">
                      </div>
                      <div class="text">
                         <a href="mail:support@perfictus.com">support&#64;perfictus.com</a>
                      </div>
                   </div>
 
                   <div class="single-contact-item">
                      <div class="icon">
                         <img src="assets/img/icons/footer-contact-icon2.svg" alt="">
                      </div>
                      <div class="text">
                         <a href="javascript:void(0);">123 Digital Lane, <br> Marketing City, USA</a>
                      </div>
                   </div>
 
                   <div class="single-contact-item">
                      <div class="icon">
                         <img src="assets/img/icons/footer-contact-icon3.svg" alt="">
                      </div>
                      <div class="text">
                         <a href="tel:123-456-7890">123-456-7890</a>
                      </div>
                   </div>
 
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- footer area end -->
 
    <!-- copy-right area start -->
       <div class="container">
          <div class="row vl-copyright1 _dv-top align-items-center">
             <div class="col-lg-6">
                <div class="copyright-text left-side">
                   <p>ⓒCopyright 2025 Perfictus . All rights reserved</p>
                </div>
             </div>
             <div class="col-lg-6">
                <div class="copyright-text right-side text-end sm:text-start md:text-start">
                   <a href="javascript:void(0);">Terms & Conditions</a>
                   <a href="javascript:void(0);" class="add-before"> Privacy Policy </a>
                </div>
             </div>
          </div>
       </div>
    <!-- copy-right area end -->
 
 </footer>