<div class="blog8 sp bg-cover" style="background-image: url(assets/img/bg/sec-bg8.jpg);">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 m-auto text-center">
             <div class="heading8">
                <span class="sub-title2" data-aos-duration="800" data-aos="fade-left"><img src="assets/img/icons/span1.svg" alt=""> Your Digital Growth Partners</span>
                <h2 class="text-anime-style-3">Building Success Through Innovation and Expertise</h2>
             </div>
          </div>
       </div> 
       <div class="row mt-30">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
             <div class="vl-blog-8-item mt-30">
                <div class="vl-blog-8-thumb">
                   <div class="image-anime">
                      <img class="w-full" src="assets/img/blog/blog8-image1.png" alt="">
                   </div>
                   <div class="vl-blog8-meta">
                      <a href="javascript:void(0);" class="user"><img src="assets/img/icons/author1.svg" alt=""> By Alex Roy</a>
                   </div>
                </div>
                <div class="vl-blog-8-content heading8">
                   <div class="vl-blog8-meta">
                      <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 8 December 2024</a>
                   </div>
                   <h4 class="mt-16 mb-16"><a routerLink="/blog-detail">5 Essential Strategies For Consult Sustainable Of Business Growth</a></h4>
                   <a routerLink="/blog-detail" class="learn8">learn more <span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></a>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
             <div class="vl-blog-8-item mt-30">
                <div class="vl-blog-8-thumb">
                   <div class="image-anime">
                      <img class="w-full" src="assets/img/blog/blog8-image2.png" alt="">
                   </div>
                   <div class="vl-blog8-meta">
                      <a href="javascript:void(0);" class="user"><img src="assets/img/icons/author1.svg" alt=""> By Alex Roy</a>
                   </div>
                </div>
                <div class="vl-blog-8-content heading8">
                   <div class="vl-blog8-meta">
                      <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 8 December 2024</a>
                   </div>
                   <h4 class="mt-16 mb-16"><a routerLink="/blog-detail">How to Drive Generate Leads with SEO Digital Marketing</a></h4>
                   <a routerLink="/blog-detail" class="learn8">learn more <span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></a>
                </div>
             </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
             <div class="vl-blog-8-item mt-30">
                <div class="vl-blog-8-thumb">
                   <div class="image-anime">
                      <img class="w-full" src="assets/img/blog/blog8-image3.png" alt="">
                   </div>
                   <div class="vl-blog8-meta">
                      <a href="javascript:void(0);" class="user"><img src="assets/img/icons/author1.svg" alt=""> By Alex Roy</a>
                   </div>
                </div>
                <div class="vl-blog-8-content heading8">
                   <div class="vl-blog8-meta">
                      <a href="javascript:void(0);" class="date"><img src="assets/img/icons/date1.svg" alt=""> 8 December 2024</a>
                   </div>
                   <h4 class="mt-16 mb-16"><a routerLink="/blog-detail">Top Digital Marketing for E-Commerce Success Business</a></h4>
                   <a routerLink="/blog-detail" class="learn8">learn more <span class="arrow1"><i class="fa-regular fa-arrow-right"></i></span><span class="arrow2"><i class="fa-regular fa-arrow-right"></i></span></a>
                </div>
             </div>
          </div>

       </div>
    </div>
  </div>
