<div class="tes1 sp">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-6">
             <div class="heading1">
                <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> TESTIMONIALS </span>
                <h2 class="text-anime-style-3">Proven Success Through Our Clients’ Words</h2>
             </div>
          </div>
          <div class="col-lg-6 text-end sm:text-start md:text-start">
             <div class="button" data-aos="fade-left" data-aos-duration="900">
                <a href="javascript:void(0);" class="theme-btn1 mt-30">View All Review</a>
             </div>
          </div>
       </div>
       <div class="row align-items-center">
          <div class="col-lg-6 mt-30">
             <div class="" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                <div class="tes1-single-items mt-30 space-right">
                   <div class="">
                      <div class="image">
                         <img src="assets/img/testimonial/tes1-smoll-image1.png" alt="">
                      </div>
                   </div>
                   <div class="content">
                      <div class="author-info">
                         <a href="javascript:void(0);">Sarah M</a>
                         <span>E-commerce Owner</span>
                      </div>
                      <p>Perfictus transformed our online presence. We saw a 300% increase in website months!</p>
                   </div>
                   <img src="assets/img/icons/quote.svg" alt="" class="quote">
                </div>
             </div>

             <div class="" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200">
                <div class="tes1-single-items mt-30 hover space-left">
                   <div class="">
                      <div class="image">
                         <img src="assets/img/testimonial/tes1-smoll-image2.png" alt="">
                      </div>
                   </div>
                   <div class="content">
                      <div class="author-info">
                         <a href="javascript:void(0);">John Doe</a>
                         <span>Marketing Manager</span>
                      </div>
                      <p>team is proactive, professional, results-driven. Highly recommend their services!</p>
                   </div>
                   <img src="assets/img/icons/quote.svg" alt="" class="quote">
                </div>
             </div>

             <div class="" data-aos="fade-right" data-aos-duration="900" data-aos-delay="400">
                <div class="tes1-single-items mt-30 space-right">
                   <div class="">
                      <div class="image">
                         <img src="assets/img/testimonial/tes1-smoll-image3.png" alt="">
                      </div>
                   </div>
                   <div class="content">
                      <div class="author-info">
                         <a href="javascript:void(0);">Alex Hales</a>
                         <span>E-commerce Owner</span>
                      </div>
                      <p>Thanks to Perfictus, our revenue doubled last year. They’re truly the best in the industry.</p>
                   </div>
                   <img src="assets/img/icons/quote.svg" alt="" class="quote">
                </div>
             </div>

          </div>

          <div class="col-lg-6">
             <div class="tes1-images md:mt-30 sm:mt-30">
                <div class="image reveal _relative overflow-hidden" appGsapReveal>
                   <img src="assets/img/testimonial/tes1-big-image.png" alt="">
                </div>
                <div class="shape animate3">
                   <img src="assets/img/shapes/tes1-shape.png" alt="">
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>