<div class="about10 sp">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about10-image overflow-hidden reveal _relative" appGsapReveal>
                    <img src="assets/img/about/about10-image.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading10 ml-60">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span10.svg" alt=""> Crafting Custom Strategies</span>
                    <h2 class="text-anime-style-3">Empowering Startups to Think Bigger Go Further</h2>
                    <p class="mt-16" data-aos="fade-left" data-aos-duration="800">At our core, we believe that every startup has the potential to make a lasting impact. That’s why we’re dedicated to helping ambitious entrepreneurs break boundaries, challenge status.</p>
                    <div class="row" data-aos="fade-left" data-aos-duration="1000">
                        <div class="col-md col-12">
                            <div class="about10-icon-box">
                                <div class="icon">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                                <div class="text">
                                    <p> Strategic Growth Support</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md col-12">
                            <div class="about10-icon-box">
                                <div class="icon">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                                <div class="text">
                                    <p> Innovative Solutions</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="button mt-30" data-aos="fade-left" data-aos-duration="1200">
                        <a href="javascript:void(0);" class="theme-btn19" bis_skin_checked="1">
                            Launch Your Growth
                            <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="hero10-benar">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="marquee-wrap marquee-wrap-inner">
            <div class="marquee-text">

            <div class="brand-single-box">
              <img src="assets/img/logo/about10-benar1.png" alt="">
            </div>

            <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar2.png" alt="">
            </div>

            <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar3.png" alt="">
            </div>

            <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar4.png" alt="">
            </div>

            <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar5.png" alt="">
            </div>

            <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar6.png" alt="">
            </div>

            <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar1.png" alt="">
            </div>

            <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar2.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar3.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar4.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar5.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar6.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

              <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar2.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar3.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar4.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar5.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar6.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

              <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar2.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar3.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar4.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar5.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar6.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>


              <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar2.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar3.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar4.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar5.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar6.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>
              <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar2.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar3.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar4.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar5.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar6.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>
              <div class="brand-single-box">
                <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar2.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar3.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar4.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar5.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar6.png" alt="">
              </div>

              <div class="brand-single-box">
                  <img src="assets/img/logo/about10-benar1.png" alt="">
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="slider-after"></div>
    </div>
  </section>