
<div class="hero10 _relative bg-cover" style="background-image: url(assets/img/bg/hero10-bg.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="main-heading10">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span10.svg" alt="">Empowering Startups Purpose </span>
                    <h1 class="text-anime-style-3">Driven by Creativity Powered by Results</h1>
                    <p class="mt-16" data-aos="fade-right" data-aos-duration="800">At our core, we believe that creativity isn’t just about bold idea about driving of real, measurable outcome combine.</p>
                    <div class="button mt-30" data-aos="fade-right" data-aos-duration="800">
                        <a href="javascript:void(0);" class="theme-btn19" bis_skin_checked="1">
                            Launch Your Growth
                            <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="hero10-images">
                 <div class="image1 animate3 _relative overflow-hidden reveal" appGsapReveal>
                    <img src="assets/img/hero/hero10-image.png" alt="">
                 </div>
                 <div class="image2">
                    <img src="assets/img/bg/hero10-image-bg.png" alt="">
                 </div>
              </div>
            </div>
        </div>
    </div>
</div>