<div class="work-prosses8 sp">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 m-auto text-center">
             <div class="heading8">
                <span class="sub-title1"><img src="assets/img/icons/span1.svg" alt=""> Comprehensive Solutions</span>
                <h2 class="text-anime-style-3">Explore Our Range of Services</h2>
             </div>
          </div>
       </div>
       <div class="row mt-30">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="800">
             <div class="work-prosses8-box add-after">
                <div class="num">01</div>
                <div class="content heading8">
                   <h4><a href="javascript:void(0);">Consultation Discovery</a></h4>
                   <p class="mt-12">We start by understanding best you business needs, goals, challenges.</p>
                </div>
             </div>
          </div>
 
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000">
             <div class="work-prosses8-box add-after">
                <div class="num">02</div>
                <div class="content heading8">
                   <h4><a href="javascript:void(0);">Design And Development</a></h4>
                   <p class="mt-12">Our best design custom blockchain architecture developed secure app</p>
                </div>
             </div>
          </div>
 
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1200">
             <div class="work-prosses8-box">
                <div class="num">03</div>
                <div class="content heading8">
                   <h4><a href="javascript:void(0);">Continuous Improvement</a></h4>
                   <p class="mt-12">Blockchain technology is ever-evolving. We continually update</p>
                </div>
             </div>
          </div>
 
       </div>
    </div>
 </div>