@import "bootstrap/dist/css/bootstrap.min.css";
@import "slick-carousel/slick/slick.css";
@import "aos/dist/aos.css";

@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css";
@import "@ng-select/ng-select/themes/default.theme.css";


@import "../public/assets/scss/main.scss";
