<div class="choose5 sp">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="heading4">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span1.svg" alt=""> WHY CHOOSE US</span>
                    <h2 class="text-anime-style-3">Why We’re Different </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="heading4">
                    <p data-aos="fade-left" data-aos-duration="900">we don’t just market your brand; we create lasting impressions that drive results. Our team of seasoned experts blends creativity with cutting-edge technology to design your unique goals.</p>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-lg-6">
                <div class="" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                    <div class="choose4-box heading4 mt-30">
                        <h4><a href="javascript:void(0);">Data-Driven Approach</a></h4>
                        <p class="mt-10">We harness advanced analytics and insights craft strategies that ensure impactful and efficient digital marketing solutions.</p>
                    </div>
                </div>
                <div class="" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
                    <div class="choose4-box heading4 mt-30">
                        <h4><a href="javascript:void(0);">Competitive Pricing</a></h4>
                        <p class="mt-10">Our services combine premium quality with affordability, offering exceptional value to help businesses thrive Budget.</p>
                    </div>
                </div>
                <div class="" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="400">
                    <div class="choose4-box heading4 mt-30">
                        <h4><a href="javascript:void(0);">Ethical Business Practices</a></h4>
                        <p class="mt-10">We uphold the highest standards of integrity, professionalism, and ethical practices in every aspect of our work our clients.</p>
                    </div>
                </div>
                <div class="button mt-40" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
                    <a routerLink="/service" class="theme-btn8">
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__shape"></span>
                        <span class="theme-btn8__text">Contact Us </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose4-images mt-30 ml-30 md:ml-0 sm:ml-0">
                    <div class="image image-anime reveal" appGsapReveal>
                        <img src="assets/img/others/choose4-image.png" alt="">
                    </div>
                    <div class="shape animate2">
                        <img src="assets/img/shapes/hero4-sec-shape2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>