<div class="work3 sp">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="heading3 ml-40 sm:ml-0 md:ml-0 md:mt-30 sm:mt-30">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span4.svg" alt=""> HOW WE WORK</span>
                    <h2 class="text-anime-style-3">Creating Your Custom Water Bottles is Easy!</h2>
                    <p class="mt-16" data-aos="fade-right" data-aos-duration="900">Let’s start with your vision! Share your branding goals, preferred designs, and specific requirements with our team.</p>
                    <div class="button mt-30" data-aos="fade-right" data-aos-duration="1100">
                        <a class="theme-btn5" routerLink="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="image reveal image-anime" appGsapReveal>
                    <img src="assets/img/work/work3-image1.png" alt="">
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="900">
                <div class="work3-box mt-30">
                    <div class="image image-anime _relative ">
                        <img src="assets/img/work/work3-image2.png" alt="">
                    </div>
                    <div class="heading3 mt-16 text-center">
                        <h3><a href="javascript:void(0);">Design Creation</a></h3>
                        <p class="mt-10">Our creative experts will craft a custom mockup  your water bottle, incorporating your logo, colors, and design elements. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1100">
                <div class="work3-box mt-30">
                    <div class="image image-anime _relative ">
                        <img src="assets/img/work/work3-image3.png" alt="">
                    </div>
                    <div class="heading3 mt-16 text-center">
                        <h3><a href="javascript:void(0);">Design Creation</a></h3>
                        <p class="mt-10">Our creative experts will craft a custom mockup  your water bottle, incorporating your logo, colors, and design elements. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1300">
                <div class="work3-box mt-30">
                    <div class="image image-anime _relative ">
                        <img src="assets/img/work/work3-image4.png" alt="">
                    </div>
                    <div class="heading3 mt-16 text-center">
                        <h3><a href="javascript:void(0);">Design Creation</a></h3>
                        <p class="mt-10">Our creative experts will craft a custom mockup  your water bottle, incorporating your logo, colors, and design elements. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
   </div>