<div class="service6 sp sec-bg5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="heading6 _mt-50">
                 <span class="sub-title">Service</span>
                 <h2 class="text-anime-style-3">Flexible Staffing Services for Every Need</h2>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="buttons text-end sm:text-start md:text-start sm:mt-20 md:mt-20" data-aos="fade-left" data-aos-duration="1100">
                 <a routerLink="/service" class="theme-btn11" bis_skin_checked="1">
                    <span class="theme-btn11__shape"></span>
                    <span class="theme-btn11__shape"></span>
                    <span class="theme-btn11__shape"></span>
                    <span class="theme-btn11__shape"></span>
                    <span class="theme-btn11__text">View All Service </span>
                    <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                </a>
              </div>
            </div>
        </div>

        <div class="row mt-30">
           <div class="col-md-6 col-lg-7">
              <div class="row">
                 <div class="col-lg-12">
                    <div class="service6-box mt-30">
                       <div class="icon">
                          <img src="assets/img/icons/service6-icon1.svg" alt="">
                       </div>
                       <div class="content heading6">
                          <h4><a routerLink="/service-details1">Executive Search and Leadership Staffing</a></h4>
                          <p class="mt-16">At Perfictus we understand the importance strong leadership. Our Executive Search service focuses on identifying and placing top-level executives and senior leaders who align with your company’s vision and values.</p>
                          <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-6">
                    <div class="service6-box mt-30">
                       <div class="icon">
                          <img src="assets/img/icons/service6-icon3.svg" alt="">
                       </div>
                       <div class="content heading6">
                          <h4><a routerLink="/service-details1">HR Consulting and Workforce Planning</a></h4>
                          <p class="mt-16">Our HR Consulting & Workforce Plan services help companies strategize and optimize their.</p>
                          <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-6">
                    <div class="service6-box mt-30">
                       <div class="icon">
                          <img src="assets/img/icons/service6-icon4.svg" alt="">
                       </div>
                       <div class="content heading6">
                          <h4><a routerLink="/service-details1">Permanent Staffing Solutions</a></h4>
                          <p class="mt-16">We specialize in fin permanent, full-time employees who are the perfect fit organization's.</p>
                          <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-6 col-lg-5">
              <div class="service6-box mt-30">
                 <div class="icon">
                    <img src="assets/img/icons/service6-icon2.svg" alt="">
                 </div>
                 <div class="content heading6">
                    <h4><a routerLink="/service-details1">Candidate Screening and Background Checks</a></h4>
                    <p class="mt-16">Ensuring that your hires are trustworthy qualified is crucial. Our Candidate Screening & Background Checks service helps you verify the credentials.</p>
                    <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                 </div>
              </div>

              <div class="service6-box mt-30">
                 <div class="icon">
                    <img src="assets/img/icons/service6-icon5.svg" alt="">
                 </div>
                 <div class="content heading6">
                    <h4><a routerLink="/service-details1">Payroll and Benefits Administration</a></h4>
                    <p class="mt-16">Managing payroll and employee benefits can be time-consuming. [Agency Name] offers Payroll and Benefits Administration services to simplify.</p>
                    <a routerLink="/blog-detail" class="learn">Read More <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
                 </div>
              </div>

           </div>
        </div>
    </div>
</div>