<div class="blog-details-area sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <div class="details-content">
                        <div class="image">
                            <img class="w-full" src="assets/img/service/service-details3-image.png" alt="">
                        </div> 
                    </div>
                 </article>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-area mt-50">
                    <div class="_sidebar-widget _search">
                        <h3>Search</h3>
                        <form action="#" class="_relative">
                            <input type="search" placeholder="Search...">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <div class="_sidebar-widget _list mt-40">
                        <h3>Categories</h3>
                        <div class="sidebar-list">
                            <ul>
                                <li><a routerLink="/service-details1">SEO Marketing <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details2">Social Media Strategy  <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details3" class="active">Content Marketing <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details4">Pay-Per-Click Advertising <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details5">Travel Guide Expertise <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details6">HR Staffing Agency <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details7">Insurance Policy <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details8">Real Estate <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                                <li><a routerLink="/service-details9">Startup Agency <span><i class="fa-solid fa-angle-right"></i></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="_sidebar-widget _buttons mt-40">
                        <h3>You Still Have A Question</h3>
                        <p class="mt-16">If you cannot find answer to your question our FAQ, you can always contact us. Web will answer you shortly!</p>
                        <div class="buttons mt-16">
                            <a href="mailto:info@perfictus.com" class="sidebar-btn1"><img src="assets/img/icons/sidebar-email.png" alt=""> info&#64;perfictus.com</a>
                            <a href="tel:123-456-7890" class="sidebar-btn2"><img src="assets/img/icons/sidebar-phone.png" alt=""> 123-456-7890</a>
                        </div>
                    </div>
                    
                    <div class="_sidebar-widget _contact mt-40">
                        <h3>Get A Free Quote</h3>
                        <div class="_contact-form mt-10">
                            <form action="#">
                                <input type="text" placeholder="Your Name">
                                <input type="email" placeholder="Email Address">
                                <input type="number" placeholder="Phone Number">
                                <textarea rows="5" placeholder="Your Message"></textarea>
                                
                                <button class="theme-btn3 mt-20" type="submit">Send <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="blog-details-content ml-30 md:ml-0 sm:ml-0 mt-50">
                  <article>
                     <div class="details-content">
                         <div class="heading2 mt-24">
                             <h3>Drive Growth with Strategic Content Marketing </h3>
                             <p class=" mt-16">We craft compelling content strategies designed to attract, engage,  convert your audience. Our data-driven approach ensures that every piece of content serves a purpose—whether it's boosting brand awareness, increasing website traffic, or generating leads. From blog posts and website copy to videos and social media content, we create high-quality, SEO-optimized content that resonates with your target audience and strengthens your brand authority.</p>
                         </div>

                         <div class="heading2 mt-40">
                            <h3>Our Process About Content Marketing </h3>
                         </div>
                         <div class="row pt-10">
                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Research & Strategy Development</a></h4>
                                    <p class="mt-12">We analyze your industry, competitors, and audience insights to craft a content strategy that aligns with your goals.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Content Creation & Optimization</a></h4>
                                    <p class="mt-12">Our expert writers and designers create high-quality, SEO-friendly content that educates, engages, and converts.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Multi-Channel Distribution</a></h4>
                                    <p class="mt-12">We amplify your content across websites, blogs, social media, and email marketing to maximize reach and impact.</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="details-content-text-box heading2 mt-30">
                                    <h4><a href="javascript:void(0);">Performance Tracking & Continuous</a></h4>
                                    <p class="mt-12">We measure key metrics, analyze engagement, optimize content strategies for ongoing success.</p>
                                </div>
                            </div>

                         </div>
                         
                     </div>
                  </article>

                  <article>
                     <div class="details-content mt-40">
                         <div class="heading2">
                             <h3>Content Marketing That Delivers Value & Results</h3>
                             <p class=" mt-16">we create powerful content marketing strategies designed to attract, engage, and convert your target audience. Our approach focuses on crafting high-quality, SEO-optimized content that not only boosts your brand’s visibility but also establishes your authority in the industry. From compelling blog articles and website copy to engaging social media posts and email campaigns, we develop content that resonates with and drives meaningful interactions.</p>
                         </div>

                         <div class="heading2 mt-40">
                           <h3>Captivating Content That Drives Results</h3>
                           <p class=" mt-16">By combining data-driven insights with creative storytelling, we ensure that your content delivers real results—more traffic, higher engagement, and increased conversions. Whether you're looking to educate your audience, nurture leads, or enhance brand loyalty, our expertly crafted content strategies will help you achieve your marketing goals.</p>
                        </div>
                         
                        <div class="heading2 mt-40">
                            <h3>Why Choose Perfictus For Content Marketing</h3>
                            <p class=" mt-16">we combine creative expertise with data-driven strategies to deliver content marketing solutions that achieve tangible results. Our team of experienced writers, designers, strategists works collaboratively to create content that resonates with your audience and aligns with your business objectives</p>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Data Driven Strategies</a></h4>
                                <p class="mt-2">We create content based on insights, trends, and audience behavior.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">SEO-Focused Approach</a></h4>
                                <p class="mt-2">Every piece of content is optimized to improve search rankings.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Engaging & Shareable Content</a></h4>
                                <p class="mt-2">We craft compelling narratives that resonate with your audience.</p>
                            </div>
                         </div>

                         <div class="service-details-check-list heading2 mt-30">
                            <div class="check-icon">
                                <span><i class="fa-solid fa-check"></i></span>
                            </div>
                            <div class="text">
                                <h4><a href="javascript:void(0);">Consistent & Scalable Solutions</a></h4>
                                <p class="mt-2">From startups to enterprises, we deliver tailored content strategies.</p>
                            </div>
                         </div>

                         <div class="row">
                            <div class="col-md-6">
                               <div class="image mt-40">
                                  <img class="w-full" src="assets/img/blog/blog-details-image2.png" alt="">
                              </div>
                            </div>
                            <div class="col-md-6">
                               <div class="image mt-40">
                                  <img class="w-full" src="assets/img/blog/blog-details-image3.png" alt="">
                              </div>
                            </div>
                          </div>

                     </div>
                  </article>

                  <div class="details-border"></div>

                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon1.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">SEO Optimization </a></h4>
                                <p class="mt-10">Drive organic traffic and improve your online visibility </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center sm:mt-30">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon2.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">PPC Advertising </a></h4>
                                <p class="mt-10">Maximize ROI with targeted PPC campaigns designed </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-details-box1 text-center md:mt-30 sm:mt-30">
                            <div class="icon">
                                <img src="assets/img/icons/service-details-icon3.svg" alt="">
                            </div>
                            <div class="heading2 mt-16">
                                <h4><a href="javascript:void(0);">Content Marketing </a></h4>
                                <p class="mt-10">content marketing services encompass everything  </p>
                            </div>
                        </div>
                    </div>

                  </div>

                  <div class="details-border"></div>

                </div>
            </div>
        </div>
    </div>
   </div>