<div class="choose3 sp sec-bg2">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-center">
                <div class="heading3">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img src="assets/img/icons/span4.svg" alt=""> WHY CHOOSE US</span>
                    <h2 class="text-anime-style-3">Why Our Water Bottle Stand Out</h2>
                </div>
            </div>
        </div>
        <div class="row mt-60">
           <div class="col-lg-4">

            <div class="" data-aos="fade-right" data-aos-duration="900">
                <div class="choose3-box mt-30 ml-30 md:ml-0 sm:ml-0">
                    <div class="content heading3 text-end">
                        <h4><a href="javascript:void(0);">Eco-Friendly Materials</a></h4>
                        <p class="mt-10">Our water bottles are crafted from sustainable, BPA-free materials,</p>
                    </div>
                    <div class="num num-left">
                        <p>1</p>
                    </div>
                </div>    
            </div>

            <div class="" data-aos="fade-right" data-aos-duration="1100">
                <div class="choose3-box mt-30 mr-30 md:mr-0 sm:mr-0">
                    <div class="content heading3 text-end">
                        <h4><a href="javascript:void(0);">Customizable Designs</a></h4>
                        <p class="mt-10">Tailor every aspect of your water bottles, from colors and logos </p>
                    </div>
                    <div class="num num-left">
                        <p>2</p>
                    </div>
                </div>
            </div>

            <div class="" data-aos="fade-right" data-aos-duration="1300">
                <div class="choose3-box mt-30 ml-30 md:ml-0 sm:ml-0">
                    <div class="content heading3 text-end">
                        <h4><a href="javascript:void(0);">Premium Quality</a></h4>
                        <p class="mt-10">Built to last, our water bottles are designed for daily use, offering </p>
                    </div>
                    <div class="num num-left">
                        <p>3</p>
                    </div>
                </div>
            </div>

           </div>
           <div class="col-lg-4">
            <div class="choose3-main-images">
                <div class="shape">
                    <img src="assets/img/shapes/choose3-image-shape.png" alt="">
                </div>
                <div class="image animate1" data-aos="zoom-in" data-aos-duration="900">
                    <img src="assets/img/others/choose3-iamge.png" alt="">
                </div>
            </div>
           </div>

           <div class="col-lg-4">
            <div class="" data-aos="fade-left" data-aos-duration="900">
                <div class="choose3-box mt-30 mr-30 md:mr-0 sm:mr-0">
                    <div class="num num-right">
                        <p>4</p>
                    </div>
                    <div class="content heading3 text-start">
                        <h4><a href="javascript:void(0);">Eco-Friendly Materials</a></h4>
                        <p class="mt-10">Our water bottles are crafted from sustainable, BPA-free materials,</p>
                    </div>
                </div>
            </div>

            <div class="" data-aos="fade-left" data-aos-duration="1100">
                <div class="choose3-box mt-30 ml-30 md:mr-0 sm:mr-0">
                    <div class="num num-right">
                        <p>5</p>
                    </div>
                    <div class="content heading3 text-start">
                        <h4><a href="javascript:void(0);">Customizable Designs</a></h4>
                        <p class="mt-10">Tailor every aspect of your water bottles, from colors and logos </p>
                    </div>
                </div>
            </div>

            <div class="" data-aos="fade-left" data-aos-duration="1300">
                <div class="choose3-box mt-30 mr-30 md:mr-0 sm:mr-0">
                    <div class="num num-right">
                        <p>6</p>
                    </div>
                    <div class="content heading3 text-start">
                        <h4><a href="javascript:void(0);">Premium Quality</a></h4>
                        <p class="mt-10">Built to last, our water bottles are designed for daily use, offering </p>
                    </div>
                </div>
            </div>

           </div>

        </div>
    </div>
   </div>