<div class="cta8 bg-cover" style="background-image: url(assets/img/bg/cta8-bg.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="cta8-image left-image">
                    <img src="assets/img/shapes/cta8-image1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cta8-main">
                    <div class="white-heading text-center">
                        <h2>Transform Your Business with Our Proven Digital Strategies</h2>
                        <p class="mt-16">Whether you’re looking to boost your search rankings, expand digital presence,
                            the increase conversions, our team of experts is here help. </p>
                        <div class="buttons mt-40">
                            <a routerLink="/about" class="theme-btn15">
                                Boost Your Online Presence
                                <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                    class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                            <a routerLink="/contact" class="theme-btn16 sm:mt-20 ml-20 sm:ml-0">
                                Get In Touch
                                <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span
                                    class="arrow2"><i class="fa-solid fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cta8-image right-image text-end">
                    <img src="assets/img/shapes/cta8-image2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>