<div class="tes3 sp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-center">
                <div class="heading3">
                    <span class="sub-title" data-aos="zoom-in-left" data-aos-duration="900"><img
                            src="assets/img/icons/span4.svg" alt=""> TESTIMONIALS</span>
                    <h2 class="text-anime-style-3">Success Stories From Our Partners</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30 align-items-center">
            <div class="col-lg-4">
                <div class="tes3-left-side-images mt-30" data-aos="fade-up" data-aos-duration="900">
                    <div class="image">
                        <img src="assets/img/testimonial/tes3-big-image.png" alt="">
                    </div>
                    <div class="review-box">
                        <div class="review-image">
                            <img src="assets/img/testimonial/tes3-reviews.png" alt="">
                        </div>
                        <div class="review-starts">
                            <p>20k Reviews</p>
                            <div class="stars">
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tes3-slider-all mt-16 _relative" data-aos="fade-up" data-aos-duration="900">
                    <ngx-slick-carousel [config]="testiConfig9" class="tes3-slider">
                        <div ngxSlickItem class="tes3-single-slider-items">
                            <p>"Working with Perfictus Advertising Agency has been a game-changer for our brand. The custom
                                water bottles they designed were not only visually appealing but also high-quality and
                                practical. We used them during our corporate events, and the response was phenomenal.
                                Our clients loved the attention to detail, and many even commented on how these bottles
                                reflected the premium nature of our brand. Perfictus team made the entire process seamless,
                                from brainstorming design ideas to ensuring timely delivery. We couldn’t have asked for
                                a better partner in promoting our brand."</p>
                            <div class="tes3-dv-top"></div>
                            <div class="author-area">
                                <div class="author-thumb">
                                    <img src="assets/img/testimonial/team2-image1.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Sarah Makiavelly</a>
                                    <p>Marketing Manager</p>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="tes3-single-slider-items">
                            <p>"Working with Perfictus Advertising Agency has been a game-changer for our brand. The custom
                                water bottles they designed were not only visually appealing but also high-quality and
                                practical. We used them during our corporate events, and the response was phenomenal.
                                Our clients loved the attention to detail, and many even commented on how these bottles
                                reflected the premium nature of our brand. Perfictus team made the entire process seamless,
                                from brainstorming design ideas to ensuring timely delivery. We couldn’t have asked for
                                a better partner in promoting our brand."</p>
                            <div class="tes3-dv-top"></div>
                            <div class="author-area">
                                <div class="author-thumb">
                                    <img src="assets/img/testimonial/team2-image1.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Sarah Makiavelly</a>
                                    <p>Marketing Manager</p>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="tes3-single-slider-items">
                            <p>"Working with Perfictus Advertising Agency has been a game-changer for our brand. The custom
                                water bottles they designed were not only visually appealing but also high-quality and
                                practical. We used them during our corporate events, and the response was phenomenal.
                                Our clients loved the attention to detail, and many even commented on how these bottles
                                reflected the premium nature of our brand. Perfictus team made the entire process seamless,
                                from brainstorming design ideas to ensuring timely delivery. We couldn’t have asked for
                                a better partner in promoting our brand."</p>
                            <div class="tes3-dv-top"></div>
                            <div class="author-area">
                                <div class="author-thumb">
                                    <img src="assets/img/testimonial/team2-image2.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Sarah Makiavelly</a>
                                    <p>Marketing Manager</p>
                                </div>
                            </div>
                        </div>
                        <div ngxSlickItem class="tes3-single-slider-items">
                            <p>"Working with Perfictus Advertising Agency has been a game-changer for our brand. The custom
                                water bottles they designed were not only visually appealing but also high-quality and
                                practical. We used them during our corporate events, and the response was phenomenal.
                                Our clients loved the attention to detail, and many even commented on how these bottles
                                reflected the premium nature of our brand. Perfictus team made the entire process seamless,
                                from brainstorming design ideas to ensuring timely delivery. We couldn’t have asked for
                                a better partner in promoting our brand."</p>
                            <div class="tes3-dv-top"></div>
                            <div class="author-area">
                                <div class="author-thumb">
                                    <img src="assets/img/testimonial/team2-image2.png" alt="">
                                </div>
                                <div class="author-text">
                                    <a href="javascript:void(0);">Sarah Makiavelly</a>
                                    <p>Marketing Manager</p>
                                </div>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>